[2019-03-11 06:21] bilal-fazlani opened #1 "usage with akka?"
This is great stuff!

Is there an example of how this can be used directly with Akka?

[2019-03-11 08:22] sirthias commented on #1
I'm afraid I don't fully understand your question.
_BORER_ will happy live together with Akka on your class path.
The [README section on Akka Support](https://github.com/sirthias/borer#akka-support) describes, how to get _BORER_ to work seamlessly with `akka.util.ByteString`.

What other integration are you looking for?

[2019-03-12 04:27] bilal-fazlani commented on #1
My apologies for ambiguity. I was wondering if its possible to replace the default java serialiser in akka cluster with Borer.

I am asking this because I am not sure if we have static type information available at the time of deserialisation in akka cluster.

Some example will help.

[2019-03-12 08:43] sirthias commented on #1
One thing, that the README does not make clear right now (and maybe it should) is: _BORER_ does **not** use reflection or anything! At the decoding point it requires that you know what type to deserialize to! If you don't know, you need to build your own mechanism for transporting type information across the serialization gap.

So, I'm afraid _BORER_ (or CBOR) will not solve your problem with rega

[2019-03-12 08:43] #1 closed

[2019-04-13 11:45] mushtaq opened #2 "Array[Int] decoding does not work"
I tried this:
[code]
I get this error:
[code]

[2019-04-13 11:58] sirthias commented on #2
Thank you, @mushtaq!
I'll release a new version containing a fix today or tomorrow...

[2019-04-13 12:23] mushtaq commented on #2
@sirthias, thanks for a quick response. I wonder why does borer does not provide codecs for Array[primitives] out of the box? I feel many projects will end up writing those on their own.

[2019-04-13 14:04] sirthias commented on #2
@mushtaq, yes, that's a very valid point.
I just added a respective commit to the `md/0.8` branch, which will get merged and released very soon.
Thanks again!

[2019-04-13 14:07] mushtaq commented on #2
@sirthias thank you so much! Looking forward to 0.8.

[2019-04-13 14:30] #2 closed

[2019-04-13 14:33] sirthias commented on #2
Ok, just released 0.8 to sonatype.
Should appear on maven central in a few hours...

[2019-04-13 15:04] plokhotnyuk commented on #2
Mathias, sorry for offtopic, but will that release have a JSON support?

If yes, then I think you would be interested on feedback about current JSON support in the md/0.8 branch...

[2019-04-13 15:46] plokhotnyuk opened #3 "Cannot parse whole numbers as Double or Float in JSON"
[code]

[2019-04-13 15:48] plokhotnyuk opened #4 "Some negative float point numbers parsed as positive from JSON"
[code]

[2019-04-13 15:51] plokhotnyuk opened #5 "Some float numbers cannot be parsed from JSON as Float with a strange error message"
[code]

[2019-04-13 15:59] plokhotnyuk opened #6 "JSON representations of Float numbers contain redundant digits"
[code]

I would recommend to peek and adopt [the Ryu algorithm](https://github.com/ulfjack/ryu) for serialization of both `Float` and `Double` types - it is much performant and some values can be serialized using less digits than Java's `toString`.

[2019-04-13 16:04] plokhotnyuk opened #7 "Cannot parse a number as Array[Long] or Array[BigInt] or Array[BigDecimal] from a JSON array"
[code]

[2019-04-13 16:26] plokhotnyuk opened #8 "Possible denial of service when parsing a JSON number as BigInt or BigDecimal"
Currently big numbers in Java has a binary representation under hood, and parsing them from the decimal string representation has `O(n^2)` complexity.

[code]

For a contemporary 1Gbit network 10ms of receiving a malicious message with a 1000000-digit number can produce 1300ms of 100% CPU load in a one core. More than 100 cores can be effectively DoS-ed at a full bandwidth rate.

Also, a lot of ar

[2019-04-13 16:55] plokhotnyuk opened #9 "JSON parsing error hasn't a position and a sample of input"
[code]

[2019-04-13 17:00] plokhotnyuk opened #10 "Parser allows invalid input in JSON arrays"
[code]

[2019-04-13 17:21] plokhotnyuk opened #11 "Parser allows \uXXXX escaping sequences out of JSON strings"
[code]

[2019-04-13 18:00] plokhotnyuk opened #12 "JSON string with invalid surrogate characters was parsed successfully without any error"
[code]

[2019-04-14 08:48] plokhotnyuk opened #13 "Cannot derive codecs for sum of types which use Java annotations"
Compilation error looks like:
[code]

Code to reproduce:
[code]

[2019-04-15 01:42] mushtaq commented on #2
@sirthias Thanks. Upgraded, and working as expected.

[2019-04-21 15:56] sirthias commented on #3
Thank you for reporting, @plokhotnyuk!
My initial reaction was to mark this as a "won't fix", since for conversions between the different numeric types should always be explicit. (All my projects always have the "-Ywarn-numeric-widen" and "-Xfatal-warnings" compiler options enabled).

However, seeing that scalac also has numeric widening of integers to floating point values be enabled by default a

[2019-04-21 15:58] #3 closed

[2019-04-21 15:59] sirthias commented on #4
Thank you for reporting!

Closed by f02ee723c30584ea4d2a95b944898a796383b538

[2019-04-21 15:59] #4 closed

[2019-04-23 15:58] #5 closed

[2019-04-23 15:58] #6 closed

[2019-04-23 15:58] #7 closed

[2019-04-23 15:58] #8 closed

[2019-04-23 15:58] #9 closed

[2019-04-23 15:58] #12 closed

[2019-04-23 15:59] sirthias commented on #5
Thank you for reporting!

[2019-04-23 15:59] sirthias commented on #6
Yes, thank you for reporting!

[2019-04-23 15:59] sirthias commented on #7
Thanks again for submitting this ticket!

[2019-04-23 16:00] sirthias commented on #8
Yup!
Thanks again!

[2019-04-23 16:00] sirthias commented on #12
Thank you!

[2019-04-23 16:01] sirthias commented on #10
Yes. The JSON parser state machine in release 0.8.0 wasn't complete yet.
Now it is.
Thank you!

[2019-04-23 16:01] #10 closed

[2019-04-23 16:02] sirthias commented on #11
I couldn't reproduce this.
In the example snippet you posted the scala compiler (parser) would actually decode the character.
When I escape the backslash in order to move the decoding down to the _borer_ JSON parser everything works as expected.

[2019-04-23 16:11] plokhotnyuk commented on #11
Ups, sorry for that.

[2019-04-23 16:11] #11 closed

[2019-04-23 18:33] sirthias commented on #13
This is a magnolia problem: https://github.com/propensive/magnolia/issues/135.
Once https://github.com/propensive/magnolia/pull/136 is fixed this should be resolved here as well.

[2019-04-23 18:47] sirthias commented on #11
No problem at all!
Your help in improving _borer_ really is very much appreciated!
Thank you very much again, Andriy!

[2019-04-26 11:36] mushtaq opened #14 "Generic Array Encoding Needs a Workaround"
**Test**

[code]

**Result**

[code]

**Expected**

Both the arrays should get encoded as BYTES.

**Workaround**

[code]

[2019-04-26 11:38] mushtaq commented on #14
Not sure if this is a bug, but generic array of bytes encoding in BYTEs would have helped my current use case.

[2019-04-30 02:09] mushtaq opened #15 "Missing Codec for Array[java.lang.Byte]"
Workaround:

[code]

[2019-05-03 07:05] Dollyg opened #16 "Codec.forCaseClass fails for case classes with generics"
`case class Address[T](x: T)`

`implicit def addressCodec[T: Encoder: Decoder]: Codec[Address[T]] = Codec.forCaseClass[Address[T]]`

The above code snippet fails with the exception:

type mismatch;
[error]  found   : Address[Nothing] => Option[Nothing]
[error]  required: Address[T] => Option[?]
[error]   implicit def addressCodec[T: Encoder: Decoder]: Codec[Address[T]] = Codec.forCaseClass[Address

[2019-05-03 15:21] #13 closed

[2019-05-03 15:21] #16 closed

[2019-05-03 15:22] sirthias commented on #16
Thank you for reporting, @Dollyg !
This fix for this will be released with 0.9.0 very soon.

[2019-05-03 15:59] sirthias commented on #14
Thank you for reporting, @mushtaq, but I'm afraid this will have to be a "won't-fix".
An array of boxed bytes is fundamentally a different beast than an `Array[Byte]`.
While the latter can easily written as one block the former has to be iterated through to collect up the individual byte values that might be distributed around the memory.
So there really isn't anything that _borer_ can do better h

[2019-05-04 02:56] mushtaq commented on #14
Makes sense. I guess, #15 is related then.

[2019-05-08 01:44] mushtaq opened #17 "ADT subtype codec is incompatible with ADT codec"
**Test**

[code]

**Exception**

[code]

**Workaround**

[code]

[2019-05-08 07:05] sirthias commented on #17
Well, I'm unsure whether and ADT subtype codec _should_ be compatible with the ADT codec.
`Codec[T]` as well as `Encoder[T]` and `Decoder[T]` are *invariant* in their type parameters. So a `Codec[Tiger]` is _not_ a `Codec[Animal]`.
What's your use case?

The reason for the error you are seeing in your snippet above is that, in release 0.8.0, ADTs are encoded as a two element array, with the type-i

[2019-05-08 15:17] #19 closed

[2019-05-08 15:18] sirthias commented on #19
Thank you once again for reporting, Andriy!
Much appreciated!

[2019-05-08 19:36] plokhotnyuk opened #19 "Unexpected default limit for JSON number mantissa"
By default Scala use `MathContext.DECIMAL128` with precision up to 34 decimal digits for `BigDecimal` instances, but in current version (0.8.1-SNAPSHOT) the limit is set to 32 and configs cannot be passed as parameters into `encode` and `decode` methods:

[code]

[2019-05-09 06:14] plokhotnyuk opened #20 "Loosing parsing of float"
Current code from the master parses floats with rounding where error ~1ULP that is greater than expected ~0.5ULP of `java.lang.Float.valueOf()`.

The rounding error can be easy reproduced when parsing string representation of some values with number of digits greater than usually used for floats.

[code]

The detailed explanation is in [this comment](https://www.reddit.com/r/rust/comments/a6j5j1/m

[2019-05-09 06:35] plokhotnyuk opened #21 "Ability to pass a configuration in encode/decode DSL wanted"
Please add a configuration parameter for the `Target` methods.

Implementation of it can use own default values, like here:
[code]

[2019-05-09 09:09] sirthias commented on #20
Thank you for reporting!
Since _BORER_'s API differs from what `Jsoniter` offers (essentially it's a hybrid between AST/DOM-based parsing and Jsoniter's direct, zero look-ahead parsing approach) its JSON parser does not know, at the time it comes across a JSON number literal, what model type this number is eventually going to be converted to.
Converting certain "easy" numbers to `Double` on the sp

[2019-05-09 09:12] #20 closed

[2019-05-09 09:15] sirthias commented on #21
Configuration is currently possible with

`Cbor.encode(value).withConfig(config)` rather than the `Cbor.encode(value, config = config)` that you propose.

To me the difference is negligible.
What's your use case?

[2019-05-09 09:51] plokhotnyuk commented on #21
Main concern is about redundant allocations on chained calls.

[2019-05-09 10:03] sirthias commented on #21
`withConfig` does not allocate anything, it merely sets a mutable var, so should be absolutely zero perf difference between the two versions

[2019-05-09 10:13] plokhotnyuk commented on #21
Thanks for the explanation!

[2019-05-09 10:13] #21 closed

[2019-05-09 11:45] plokhotnyuk opened #22 "Cannot serialize BigDecimal value with a fractional part"
[code]
W/A is to add a custom encoder:
[code]

[2019-05-09 12:28] #22 closed

[2019-05-09 12:29] sirthias commented on #22
Yup. Thank you!

[2019-05-11 10:04] sirthias commented on #21
@plokhotnyuk I've just released version 0.9.0 to sonatype and would be interested in how it performs in your benchmarks. How difficult is it for you to upgrade the borer version in your setup to 0.9.0 and kick off the benchmark generation?

[2019-05-11 13:51] mushtaq opened #23 "[0.9.0] def apply() in the companion breaks decoding"
This is while upgrading to 0.9.0

**Test**

[code]

**Error**

[code]

[2019-05-11 14:19] plokhotnyuk commented on #21
I have [upgraded benchmarks to the latest Borer](https://github.com/plokhotnyuk/jsoniter-scala/pull/286), and started [all of them on 5 JVMs](https://github.com/plokhotnyuk/jsoniter-scala/blob/64f07a5207bc5794e8c580ce7a779ab53b1eddcd/benchmark.sh) (ETA Monday evening).

Mathias, please, if possible, review Borer's part of benchmarks and [derivation of codecs](https://github.com/plokhotnyuk/jsonite

[2019-05-11 14:55] mushtaq opened #24 "getting Encoder via Codec does not always work"
Test

[code]

[2019-05-11 15:02] mushtaq opened #25 "Provide a bimap for convenient Codec creation"
[code]

[2019-05-11 15:18] mushtaq opened #26 "Provide dedicated function for efficient encoding of unary case classes that does not compile for other case classes"
Currently we do `import io.bullet.borer.derivation.MapBasedCodecs._` and then use `deriveCodec[T]` for all case classes except the unary case classes for which we use `Codec.forCaseClass[T]`.

This works, but is prone to error. We may end up using `Codec.forCaseClass[T]` for non-unary case classes, especially during the refactoring, resulting in mix of array-based and map-based encodings.

It will

[2019-05-11 16:28] plokhotnyuk commented on #26
What is an unary case class? Is it like `AnyVal` extension with only one field?

[2019-05-11 17:20] mushtaq commented on #26
I picked it from the [docs](https://github.com/sirthias/borer#case-classes). Case class with 1 field, need not extend AnyVal.

[2019-05-11 18:12] plokhotnyuk opened #27 "Unexpected NPE in runtime when order of derivation of depended codecs is wrong"
To reproduce the stacktrace bellow need to move [this](https://github.com/plokhotnyuk/jsoniter-scala/commit/7d9a38639405741633ced53071ecb6287bac392f#diff-f2f7c27c43abb00916c9e44b849a0c16L24) line to be bellow [this](https://github.com/plokhotnyuk/jsoniter-scala/commit/7d9a38639405741633ced53071ecb6287bac392f#diff-f2f7c27c43abb00916c9e44b849a0c16R24) derivation and run [this](https://github.com/plo

[2019-05-11 18:18] plokhotnyuk commented on #26
@mushtaq Nice spot! It helped me [to add a benchmark for AnyVals](https://github.com/plokhotnyuk/jsoniter-scala/commit/7d9a38639405741633ced53071ecb6287bac392f).

I think too that separated and properly named function would be much safer and handy.

[2019-05-12 08:35] plokhotnyuk opened #28 "NPE (or SOE) during parsing or serialization of recursive structures"
Parsing:
[code]
Serialization:
[code]

The same code when enclosed in curly brackets defers derivation until first call to decoder/encoder and produces SOE:
[code]

[2019-05-12 10:11] plokhotnyuk opened #29 "Unexpected exception when parsing a `null` value for an optional field"
[code]

[2019-05-13 18:05] plokhotnyuk commented on #21
Mathias, I have published latest results of benchmarks with Borer 0.9.0 and others as usually [here](https://plokhotnyuk.github.io/jsoniter-scala/).

You can use a handy service of JMH Visualizer to see difference between previous run with Borer 0.8.0 on JDK 11 using [the following url](http://jmh.morethan.io/?sources=https://raw.githubusercontent.com/plokhotnyuk/jsoniter-scala/30ca7e738d3c2c21874

[2019-05-14 14:48] abrighton commented on #5
This might be related: I get the same exception when a python app encodes floating point values that are decoded in Scala. Python doesn't make a difference between float and double and the Scala code wants a Float in this case. Would it be possible to allow a Double where a Float is expected? That already works for integer values. Long, Short and Int don't seem to cause the same problems between P

[2019-05-14 14:50] sirthias commented on #5
@abrighton Are you still seeing this error with the latest borer 0.9.0?

[2019-05-14 14:52] abrighton commented on #5
We were using 0.8.0. I'll try the newer version and let you know.

[2019-05-15 12:21] abrighton commented on #5
So I tested the code with borer-0.9.0 and get the same error when python encodes a floating point value and the Scala decoder is expecting a Float:

[code]

[2019-05-15 12:28] sirthias commented on #5
Ok, I see.
borer 0.9.0 has a config flag that will help you: `readDoubleAlsoAsFloat`.
Here is how you use it:

[code]

With this config setting the error should go away.

[2019-05-15 12:42] abrighton commented on #5
Yes, that fixed it. Thanks!

[2019-05-15 15:04] abrighton commented on #15
I noticed an array of Bytes encoded in Scala can be read in Scala and Python, but the same thing encoded from Python results in this error in Scala:
[code]

[2019-05-16 13:03] #23 closed

[2019-05-16 13:06] sirthias commented on #23
Thank you once gain, @mushtaq, for reporting!
A work-around for 0.9.0 would be:

[code]

[2019-05-16 13:11] sirthias commented on #15
It looks like in your case the Python encoder doesn't encode the bytes as a CBOR "ByteString" but rather as an actual CBOR array of single-byte values, which is quite a bit less efficient.

What BORER can do here is to simply also accept the less efficient variant when decoding, as this would increase seamless interoperability.

[2019-05-16 13:30] plokhotnyuk opened #31 "Unexpected ~20x times drop of performance in case of parsing JSON with redundant fields"
According to the flamegraph report of run with Async Profiler ~95% CPU is spending in call of `io/bullet/borer/derivation/MapBasedCodecs$deriveDecoder$.verifyNoDuplicate$1`:

![image](https://user-images.githubusercontent.com/890289/57965978-2bc02980-794c-11e9-85c5-20185d8fff2a.png)

How to reproduce:
1. Clone the repo and checkout the following branch where for model of `Reddit.User` last 10 fiel

[2019-05-16 13:30] abrighton commented on #15
I was able to fix the problem by encoding the values in python byte strings.
Thanks.

[2019-05-16 13:37] #15 closed

[2019-05-16 13:38] #14 closed

[2019-05-16 14:37] mushtaq commented on #15
@sirthias, the original issue was different than what Allan reported.

I hope you closed it because providing codec for Array[java.lang.Byte] as in the title is not a good idea?

[2019-05-16 15:09] sirthias commented on #15
@mushtaq Yes, the original issue was different.
However, the 0.9.0 release does provide a pre-defined codec for `Array[T]` [here](https://github.com/sirthias/borer/blob/208ebd77a387987fc92a1c5dab6585a05bb77f5f/core/src/main/scala/io/bullet/borer/Encoder.scala#L223) and [here](https://github.com/sirthias/borer/blob/208ebd77a387987fc92a1c5dab6585a05bb77f5f/core/src/main/scala/io/bullet/borer/Decoder

[2019-05-17 14:32] sirthias commented on #24
Getting an `Encoder[T]` via a `Codec[T]` _does_ always work.
The problem here is that implicit resolution doesn't choose the alternative that you want over another one that also makes the types line up.

In your example the compiler has these two alternatives for supplying the missing implicit argument to `getEncoder`:

[code]

You would like the compiler to pick the first alternative, but it choo

[2019-05-17 14:32] #24 closed

[2019-05-17 14:32] sirthias commented on #25
Great idea. Thank you!

[2019-05-17 14:45] #25 closed

[2019-05-20 08:46] sirthias commented on #26
Ok, I understand your use case.
I'll add a `forUnaryCaseClass` helper to `Encoder`, `Decoder` and `Codec` to make this easier...
Thank you for raising this!

[2019-05-20 08:50] #26 closed

[2019-05-20 15:18] sirthias commented on #27
Well, this looks like a relatively simple initialization order problem to me.
Essentially this is the setup:

[code]

This works as long as `charCodec` is initialized before `fooCodec` but will throw an NPE if you move it below the `fooCodec` definition.
This is not really a _BORER_ issue but an artifact of how Scala works.

Do you have an idea on what we might improve here?

[2019-05-20 15:59] plokhotnyuk commented on #27
Can it be checked in a compile time (with a compilation error throwing) instead of failing differently in the run-time?

[2019-05-21 10:09] sirthias commented on #29
Borer has no special handling of `null` values anywhere. They are values like every other one and thus need to match the types of your model. In your case you have an `Option[String] = None`, which means that the member is either present (`Some`) or not present (`None`).
Nowhere in your types you are stating that `null` is a legal value.

The way to solve the problem here is to

- use the type `Nu

[2019-05-21 10:10] sirthias commented on #31
Ok, this is a great find!
Thank you for reporting.
I'll get this fixed...

[2019-05-21 10:14] plokhotnyuk commented on #29
Does it have any option to alter the default parsing of `Option[String]` without using of `Nullable`?

[2019-05-21 11:26] plokhotnyuk commented on #31
I have spotted that reversing the order of fields in the case class decreases the performance of parsing of this file with Borer in ~2-3 times.

Will you able to reproduce and fix it too, or it worth rising of a separate issue?

[2019-05-21 11:36] sirthias commented on #31
I'll fix this in one go, thank you!

[2019-05-27 15:56] #28 closed

[2019-05-27 15:57] sirthias commented on #28
Thank you once more for reporting, Andriy!

[2019-05-27 15:58] sirthias commented on #31
Closed by https://github.com/sirthias/borer/commit/5ddabf7ea99ced875ddbca70c1ce2e9ccb228573.

[2019-05-27 15:58] #31 closed

[2019-06-07 14:59] #29 closed

[2019-06-12 15:20] plokhotnyuk opened #33 "Release for Scala 2.13.0"
`utest`, `scodec-bits`, and `akka-actors` are released for Scala 2.13.0 already

[2019-06-12 15:26] plokhotnyuk commented on #33
`jsoniter-scala`, `spray-json`, `upickle` are also released with suffix 2.13
`circe` is on a way to the Maven Central repo
benchmarks for `jackson-module-scala` probably can work properly on its 2.13.0-RC3 artifact

[2019-06-20 12:16] mushtaq opened #34 "Runtime error with sealed trait hierarchies make a diamond"
**Test**

Below code compiles, but throws RuntimeException during the run

[code]

**Exception  during run**

[code]

Any possible workaround?

[2019-06-20 12:28] mushtaq opened #35 "Question: Do we need all subtype codecs for the ADT?"
We have an ADT like this, for which we have written the codec only for the base type and it compiles successfully.

[code]

If we want to serialize/deserialize the values as (compile-time) type `A`, it works fine.

The docs suggest that we should write similar codecs for `B` and `C` too, but I guess that is only if we want to use specific compile-time types for ser/de. Is this correct? Is there an

[2019-06-21 09:47] sirthias commented on #35
Yes, this effect is indeed unintended and an artifact of borer 0.9.0 still relying on magnolia for codec derivation. magnolia _does_ automatically construct typeclasses for subtypes even if the method calling its macro is not marked `implicit`.

As of the (almost ready) borer release 0.10.0 codec derivation does not rely on magnolia anymore and as such this effect will go away. Then you indeed _wi

[2019-06-21 09:47] #35 closed

[2019-06-21 12:08] #34 closed

[2019-06-21 12:09] sirthias commented on #34
Thank you for reporting, @mushtaq!
This is a genuine bug, which unfortunately doesn't have an easy work-around with borer 0.9.0.
The next release is very close though (I'll publish it next week)...

[2019-06-21 12:16] mushtaq commented on #35
@sirthias thanks for the explanation. But I do not fully understand the second point.

If I explicitly write `implicit val a: Codec[A] = deriveCodec[A]`, I am already caching the codec. So if instead of expecting that subtype codecs exist for delegation, what if borer inlines the subtype codecs also within the `val a`? That way, it will be cached for all the invocation without the boilerplate.

Ma

[2019-06-21 12:22] sirthias commented on #35
The "not cached" problems for example here:

[code]

If you `deriveCodec[Expr]` then magnolia will re-derive the typeclass for `SubExpr` for every parameter with that type again, which can become a real problem.
Check out this ticket for more info: https://github.com/propensive/magnolia/issues/79

borer 0.10.0 will not fix this but it will _require_ for you to provide the implicit codec for `SubEx

[2019-06-21 12:38] mushtaq commented on #35
Ah, I see.

Just to be clear, in a simple case like I mention above, there is no recursion in defining `A`'s subtypes. Will 0.10.0 still require explicit codecs for `B` and `C`?

[2019-06-21 12:48] sirthias commented on #35
Yes, for now borer implements "semi-automatic" type class derivation only, which means that we have to write one line per derived type. Fully automatic derivation comes with quite a few problems and intricacies (as the magnolia ticket list shows). Also, error reporting and debugging issues becomes quite a bit more complex and there is a risk of code size explosion that can be quite hard to detect.

[2019-06-21 13:00] plokhotnyuk commented on #35
@sirthias could you please give a code sample when "fully automatic" derivation doesn't work for the latest version of borer (w/o magnolia)?

[2019-06-21 13:35] sirthias commented on #35
@plokhotnyuk In the example that @mushtaq provided with the original description of this ticket you'll have to write this in order to make it compile:

[code]

The last line alone will not suffice.

[2019-06-21 13:51] plokhotnyuk commented on #35
Ok, let me rephrase the question: which issue or contradiction prevents adding of "fully automatic" derivation to the current version of borer that now doesn't depend on magnolia?

As an example, jsoniter-scala uses "fully automatic" approach from the beginning and allows [to customize codecs for any nested type](https://github.com/plokhotnyuk/jsoniter-scala/blob/2f61b1bdc209f88f40286642dd12a898d6

[2019-06-21 13:53] sirthias commented on #35
I'm not saying that fully automatic derivation isn't possible.
It sure is.
It's just that it's complexities are not something that I wanted to tackle at this point in borer's development. IMHO the semi-automatic approach provides 80% of the value with 20% of the bug surface...

[2019-06-22 02:32] mushtaq commented on #35
Some more context to motivate our use case. Currently we are using automatic kryo serialisation via twitter/chill library for Akka remote messages. Given that twitter/chill library is not as actively maintained, we thought of migrating to `jackson-cbor` that now ships with Akka 2.6. But even that requires annotations for ADTs!

So we are thinking of completely migrating to static codecs in `borer`

[2019-06-24 12:48] sirthias opened #36 "Add fully automatic codec derivation"
Currently borer only implements "semi-automatic" codec derivation, which means that it can construct codecs for case classes and ADT super-types with a single `deriveCodec` line, but requires that codecs for all members (case classes) or sub-types (ADTs) are already implicitly available.

Fully automatic derivation means, that a single `deriveCodec[T]` will suffice to have borer construct a codec

[2019-06-24 12:49] sirthias commented on #35
ok, thank you for this additional info, @mushtaq
I have just added https://github.com/sirthias/borer/issues/36 to track progress on this feature request.

[2019-06-24 13:29] plokhotnyuk commented on #36
Additional points would be:
- clearly define how parsed member values will be propagated to parsed instances to avoid 0-day vulnerabilities when some classes (aka gadgets) are able to do some unwanted side effects
- add a compiler option to print generated Scala code for easier inspection (data structures can be deeply nested) and for using as initial version of custom codecs

[2019-06-24 14:03] plokhotnyuk commented on #33
up

JFYK: I'm waiting for it without patience because I'm going to bump a default Scala version up for jsoniter-scala, run its benchmarks, and see [results](https://plokhotnyuk.github.io/jsoniter-scala/) with Scala 2.13.0

[2019-06-24 14:15] sirthias commented on #33
yes, I'm on the release.
It's almost done... :)

[2019-06-25 15:31] plokhotnyuk opened #37 "Benchmarking and comparison of CBOR libraries"
1. [`GenCodec`](https://github.com/AVSystem/scala-commons/blob/master/docs/GenCodec.md) with `CborInput/CborOutput` from AVSystems scala-commons.
2. [CBORFactory](https://github.com/FasterXML/jackson-dataformats-binary/tree/master/cbor) from the jackson-dataformat-cbor library that can be used with the jackson-module-scala library.

[2019-06-26 15:06] mushtaq opened #38 "Flat encoding for the ADTs"
We have successfully managed to use single set of user defined (map-based) codecs for a small subset of our domain models and achieve 3 distinct tasks: send them in akka-remote message payloads (CBOR), send some of them to Redis (CBOR) and serve them via http (JSON).

We are very happy with the outcome and looking forward to the possibility of replacing 3 different libraries (chill, scalapb and pl

[2019-06-26 15:25] plokhotnyuk commented on #38
Almost all JSON libraries for Scala have ability to switch between these encodings for sum types. Also, they have ability to override the default key of the discriminator field ("type" in the sample above) and its values ("Dog", "Cat", etc.).

[2019-06-28 12:09] plokhotnyuk opened #39 "Cannot build the master branch due cyclic dependency in project.sbt"
[code]

[2019-06-29 07:14] mushtaq opened #40 "Json.encode fails on Array[Byte]"
**Test**

[code]

**Error**

[code]

**Related**

All of the following works

[code]

**Workaround**

[code]

We had to write an analogous target specific decoder for Array[Bytes]

[2019-06-29 07:54] mushtaq opened #41 "Helpers for target specific codecs"
Often we want slightly different codecs for Json vs Cbor. We have defined the helpers like these:

[code]

Which we use to define Instant codecs like these:

[code]

I hope this is the right way to go about doing this. If so, it will be good to have these helpers in the library.

[2019-06-29 10:15] plokhotnyuk commented on #41
@mushtaq just for curiosity created a benchmark for your codecs, which have to serialize or parse an array of `java.time.Instant` values, so you can follow by a link above to see results

DECLAIMER: Please, do not do any business decisions. Borer constantly improving and I hope it will end up in line with the best Scala parsers for binary and text representation.

[2019-06-29 12:11] mushtaq commented on #41
@plokhotnyuk thanks 👍

I am aware of jsoniter. What borer gives is the cross-compilation to Scala.js. Also, could see any docs on how to transform existing codecs to create the new ones in jsoniter, which is a very common use-case for us.

[2019-06-29 12:58] plokhotnyuk commented on #41
@mushtaq you are welcome!

Yes, you are right, the lib and docs could be better. For your case it would be code like this:

[code]

Also, I'm not going to rush anybody to use jsoniter-scala... Moreover, I would like that best of its algorithms and approaches landed in better places for wider usage. But from the other hand do not hesitate to ask questions in [issues](https://github.com/plokhotnyuk/

[2019-07-09 09:59] mushtaq commented on #33
Eagerly awaited :-)

[2019-07-11 19:27] plokhotnyuk commented on #33
Borer v0.10.0 released for Scala 2.13.0

[2019-07-11 19:27] #33 closed

[2019-07-12 08:47] sirthias commented on #39
Fixed with the 0.10.0 release...

[2019-07-12 08:47] #39 closed

[2019-07-12 08:49] sirthias commented on #38
Yes, ok.
This shouldn't be hard to implement.

[2019-07-12 08:50] sirthias commented on #40
How would you expect raw bytes to be encoded in JSON?
Base64? Simple hex? As an array of JSON numbers?
IMHO there is no clear and valuable default strategy here, or is there?

[2019-07-12 09:10] #41 closed

[2019-07-12 09:11] sirthias commented on #41
Thank you, @mushtaq, this is a nice idea!

[2019-07-12 09:20] sirthias commented on #38
@mushtaq One question: In your use cases, would the `"type"` member always be the first member in the serialization or would you have to support also sth like:

[code]

?

[2019-07-12 09:29] plokhotnyuk commented on #38
Circe serializes "type" field in the end of the JSON object, while others (play-json, upickle, jackson, AVSystem GenCodec, jsoniter-scala) serialize it in the beginning.

[2019-07-12 09:39] sirthias commented on #38
ok, thank you for this info @plokhotnyuk.
So far borer's decoding strategy is a simple, monotonic single-pass across the input.
Supporting "type" fields somewhere buried in the stream of object members requires potentially unbounded caching, which is sth that I would like to avoid...

[2019-07-12 10:08] plokhotnyuk opened #42 "Derived codecs don't pick up custom codecs for basic types"
In previous version it worked fine:
[code]

Now it tries to parse chars as ints without taking in account a custom codec provided by the implicit and throws the following error:
[code]

But for some cases like bellow it picks the custom codec:
[code]

[2019-07-12 10:13] sirthias commented on #42
The reason for this is an optimization that came with 0.10.0.
For members with basic types derived codecs now don't rely on the implicit codecs, but read them directly from the reader, which circumvents boxing.

So, for all non-basic types custom codecs are still picked up as before.

[2019-07-12 10:18] sirthias commented on #42
Theoretically this could be fixed by running implicit resolution at the macros call site for all encoders/decoders, including the ones for basic types, and comparing whether they match the default definitions. If they do we can take the shortcut, otherwise we need to go through the custom codecs.
However, at this point I'm not sure that there are sufficiently important real use cases for overridin

[2019-07-12 10:28] bilal-fazlani commented on #38
"An object is an **unordered** set of name/value pairs. " (Source http://json.org/)

[2019-07-12 10:33] mushtaq commented on #38
For us, the order does not matter. Having type as a first element is perfectly fine.

[2019-07-12 10:35] sirthias commented on #38
@bilal-fazlani Yes, that is why the "flat" encoding of type ids is problematic.
We could have a 1GB JSON file containing the id of "what type to deserialize into" as the very last bytes, which would mean that either

- the whole file has to be decoded without knowing the target type (i.e. an intermediate representation, like an AST, is required)

- or multiple parsing passes are required.

Neither

[2019-07-12 13:55] bilal-fazlani commented on #38
I understand the rationale for the limitation now. Thanks for sharing context in detail.

[2019-07-12 15:54] plokhotnyuk opened #43 "Link to the project site is broken"
https://sirthias.github.io/borer/ redirects to http://decodified.com/borer/ and returns 404

[2019-07-13 04:10] mushtaq opened #44 "Way to add codec for case objects in ADTs"
Following does not work

[code]

**Compilation Error**

[code]

**Workaround**

[code]

[2019-07-13 04:24] mushtaq commented on #40
@sirthias I agree that there is no natural default. But getting a runtime error is not nice.

For us, any default will work because we will rarely exercise this path when using the REST/Json.

I would suggest we go ahead with `Encoder.forArray[Byte]` as the default because that is what most JSON libs do.

Also, in this case encoder, we do not need to define the decoder, and the following works fin

[2019-07-13 04:29] mushtaq commented on #25
@sirthias I think Codec.bimap should take encoder and decoder as implicit parameters to make this easy to use.

If you agree, should I open another issue?

[2019-07-13 04:44] mushtaq commented on #26
@sirthias While using this library call I felt that `deriveCodecForUnaryCaseClass` is too verbose. Should we use `deriveCodecUnary` or `deriveUnaryCodec` instead?

[2019-07-13 10:32] plokhotnyuk commented on #43
it works fine now

[2019-07-13 10:32] #43 closed

[2019-07-13 11:59] abrighton commented on #38
As long as all the clients are using borer, this limitation ('type' as first key) would be OK, but I don't think you can be sure that 'type' is the first item in JSON or CBOR generated using other languages or libraries. The order of the keys will likely be random.

[2019-07-15 08:05] sirthias commented on #25
Yes, this was clearly an oversight.
Just pushed https://github.com/sirthias/borer/commit/3262af0b852f44b1339c9dac32c226a093861075 to get this fixed.

Thank you for bringing this up!

[2019-07-15 08:11] sirthias commented on #26
@mushtaq Yes, I agree. `deriveUnaryEncoder` / `deriveUnaryCodec` is much better.
Just pushed 895455f2b61743b4e7844547864b6f612fae9f13 with the fix.
Thank you again!

[2019-07-15 08:25] mushtaq commented on #38
@sirthias I tested that `upickle` allows `$type` field to appear anywhere in the JSON object while parsing. I thought `upickle` also has a streaming parser, not sure how it manages that.

[2019-07-15 08:48] sirthias commented on #38
Yes, it is of course _possible_ to support the special member at an arbitrary position.
But it's _not_ possible to do this in bounded memory without a second pass over the input.

The whole approach of encoding the ADT subtype with an additional "type" member is flawed, for at least these three reasons:

1. It conflates two conceptually well separated and distinct name spaces: The one of the envel

[2019-07-15 08:57] mushtaq commented on #38
It was nice to know the rationale for current design. Also agree with the summary of the next steps.

[2019-07-20 11:18] plokhotnyuk opened #45 "Cannot compile with JDK 11"
[code]

[2019-07-23 13:48] #40 closed

[2019-07-23 13:50] #45 closed

[2019-07-23 15:09] #44 closed

[2019-07-29 10:44] plokhotnyuk opened #49 "Cannot serialize array of bytes to JSON array"
It can be reproduced with v0.10.0:
[code]

[2019-07-29 12:07] sirthias commented on #49
Thank you, @plokhotnyuk, but this is a duplicate of https://github.com/sirthias/borer/issues/40, which was already closed by https://github.com/sirthias/borer/commit/212d781dbec98cd6a6b6dda70dbfe88c26fb1779.

[2019-07-29 12:07] #49 closed

[2019-07-29 12:08] sirthias commented on #49
The fix will be in 0.11.0, which will hopefully be released before the end of this week...

[2019-07-29 12:36] plokhotnyuk commented on #49
Ups... Sorry, I skipped searching before reporting...

[2019-07-29 12:36] sirthias commented on #49
No problem at all...
(Happens to me all the time! ;)

[2019-07-29 12:46] plokhotnyuk commented on #49
It happened when I revised FIXME comments in benchmarks of jsoniter-scala...

Yet another asymmetric case when borer can parse a message with defined default values for fields but [cannot skip them during serialization](https://github.com/plokhotnyuk/jsoniter-scala/blob/03a265d8e7ba2459363f66da5c1b36712eb9eee4/jsoniter-scala-benchmark/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/

[2019-07-29 12:46] sirthias commented on #49
Ah, yes. Thank you! I think that's worth a ticket.

[2019-07-29 12:59] plokhotnyuk opened #50 "Option to skip serialization of fields which values are same as default one wanted"
[code]
Can it be some how configured during derivation to get `{"a":1}` instead?

[2019-07-29 14:33] mushtaq commented on #38
I thought of sharing the current pattern of organizing codecs for an ADT relevant for this ticket:

[code]

If I do not follow this pattern, a lot of time goes in figuring out unintended errors due to mismatch of how `Hello` is encoded/decoded.

This is a common error due to how things are sent vs received as shown below:

[code]
Maybe, valid concerns to address for the current ticket.

[2019-07-29 14:40] sirthias commented on #38
Yes, we also use the

[code]

pattern, which looks good an clear to me.
For now I would say that that's the best way to go.

[2019-08-01 21:47] #38 closed

[2019-08-02 08:21] #50 closed

[2019-08-07 20:56] sirthias commented on #27
Closing as out-of-scope.
Initialization order issues are inherent to Scala and cannot really be solved on the level of this library.

[2019-08-07 20:56] #27 closed

[2019-08-09 15:37] mushtaq opened #52 "Array[Byte] to ByteBuffer and back fails for large input array"
**Test**

[code]

**Exception**

[code]

**Related**

using `val input = "0" * 1021` or less works. Also, using Array[Byte] instead of ByteBuffer works for large arrays as well.

[2019-08-12 11:18] sirthias commented on #52
Thank you for reporting, @mushtaq!
I'll get that fixed...

[2019-08-12 19:08] #42 closed

[2019-08-12 19:44] #52 closed

[2019-08-13 12:46] sirthias opened #53 "Switch to sbt-bintray for publishing"
since publishing to oss.sonatype.org is increasingly becoming a major hassle due to severe upload performance issues on their oss platform.

[2019-08-18 08:08] mushtaq opened #54 "Missing ArrayBasedCodecs.deriveUnaryDecoder?"
I do not see `deriveUnaryDecoder` in `ArrayBasedCodecs`.

On the other hand, `ArrayBasedCodecs.deriveUnaryEncoder` is there.

Any technical reason for the asymmetry? Because of this, currently it is not possible to write unary encoder and decoder separately for a type.

[2019-08-19 20:15] sirthias commented on #54
Indeed. This is clearly an oversight. No idea, what I did there.
I'll get that fixed.
Thank you for reporting once again, @mushtaq!

[2019-09-01 14:41] plokhotnyuk opened #55 "Cannot parse nested ADT"
Code to reproduce:
[code]

[2019-09-13 13:12] #55 closed

[2019-09-13 14:29] plokhotnyuk commented on #55
@sirthias Thanks!

Will you cut a release for a couple of fixes that you pushed into the master?

[2019-09-13 14:32] sirthias commented on #55
Thank YOU, @plokhotnyuk, for reporting this problem!
This was an important fix!

And yes, I am in the process of applying one more thing and then releasing borer 1.0.0.

[2019-09-13 15:28] plokhotnyuk commented on #55
@sirthias could you, please, look into [this error](https://github.com/plokhotnyuk/jsoniter-scala/blob/master/jsoniter-scala-benchmark/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/TwitterAPIReading.scala#L28)? is it worth to be reported and fixed before cutting of borer 1.0.0?

[2019-09-13 15:32] sirthias commented on #55
ok, will do, thx

[2019-09-18 02:29] mushtaq commented on #53
@sirthias I hope you have come across [this thread](https://twitter.com/jvican/status/1174014550221447170) already. Suddenly people are happy with Maven Central publishing due to a feature no-one was aware of :-).

[2019-09-18 07:01] sirthias commented on #53
Awesome!! Hadn't seen that yet. Thank you for the pointer!

[2019-09-18 14:38] sirthias commented on #55
It looks like the field `in_reply_to_status_id` is defined as `Option[String] = None` but in the JSON source it's `null`. So _borer_ says that it expects a `String` rather than `null`.

Can you try this import and see whether the problem disappears?:

[code]

[2019-09-18 17:05] plokhotnyuk commented on #55
@sirthias thanks, it helped and the problem is solved now: https://github.com/plokhotnyuk/jsoniter-scala/commit/885ff8e9acae78757a1b3b6d0c3f67d32e14198d

[2019-09-24 05:01] mushtaq opened #62 "Give high priority to borer (un)mashallers"
Akka-http handles (un)marshalling of a few types like `Option[T]` and `Either[A, B]` in a special way.

Akka-http always picks up its own (un)marshallers for them ignoring `defaultBorerUnmarshaller` and `defaultBorerMarshaller` provided by borer's `akkaHttp`.

Inn our project we copy the following in the immediate lexical scope to give them a higher priority.
- `liftMarshaller` from `LowPriorityTo

[2019-09-24 06:23] mushtaq opened #63 "Additionally expose akkaHttp companion trait"
Latest `borer-compat-akka` exposes `object akkaHttp` which is a great addition!

Can we also have a companion `trait akkaHttp` with the same content, but allows users to extend/mix-in and add additional (un)marshalling support as needed?

For example, if we do not fix #62, I would like to add those two (un)marshallers in the extended `HttpCodecs` in my app.

[2019-09-24 06:32] mushtaq opened #64 "Codecs for Either[A, B] should not be in the implicit scope by default"
Currently, ArrayBasedCodecs for `Either[A, B]` are in the implicit scope and picked up by default.

Given that `Either` is an ADT with both cases having a value (unlike Option), some teams may not prefer array based codec in JSON APIs.

For this purpose, we defined our own map-based codecs for Either. But every now and then we forget to bring it in the implicit scope which is detected late and lea

[2019-09-24 07:58] sirthias commented on #64
Yes, I think that's a good idea.
The pre-defined `Either` codecs are indeed somewhat opinionated and certainly don't suit all or even most use cases.

We can define a handful of common `Either` encodings that can be brought into scope with a simple import and remove the default one.

[2019-09-24 07:59] sirthias commented on #62
Yes, thank you, this sounds like a good idea!

[2019-09-24 08:00] sirthias commented on #63
yes, ok, adding an companion trait increases flexibility even more

[2019-09-24 08:43] mushtaq commented on #64
For our JSON APIs, we thought keys like "Success" and "Error" make more sense.

So, we came up with (a bit roundabout) way of defining [Either codecs](https://github.com/tmtsoftware/msocket/blob/master/msocket/msocket-api/src/main/scala/msocket/api/utils/EitherCodecs.scala) via an intermediate datatype [Result](https://github.com/tmtsoftware/msocket/blob/master/msocket/msocket-api/src/main/scala/m

[2019-10-02 13:09] sirthias opened #74 "Improve debug logging to collapse long arrays"
Currently large arrays are logged in their entirety, which can be a nuisance.
Rather we should log large arrays as such:

[code]

The length of the prefix/suffix to print should be configurable, with the default being 3.
A value < 0 would yield the currenty behavior.

[2019-10-11 06:26] mushtaq opened #77 "Helper to get implicit instance for Encoder/Decoder of a given type"
To fetch an implicit `Encoder` for type `T` in the current scope, currently we have to do `implicitly[Encoder[T]]`.

If `Encoder.apply` takes its parameter implicitly like below

[code]

we can then just call `Encoder[T]` obtain the implicit instance.

Other alternatives are
- add another method `Encoder.of` which does the same, and rename `implicitly` method in Codec to `of`
- add another method

[2019-10-11 07:14] plokhotnyuk opened #78 "Borer 1.0.0 allocates too much during encoding/decoding of small JSON messages"
Below are results for [parsing](https://github.com/plokhotnyuk/jsoniter-scala/blob/d46553aff5041472559a27f7a4b8d3dac76cf360/jsoniter-scala-benchmark/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/benchmark/IntReading.scala) and [serialization](https://github.com/plokhotnyuk/jsoniter-scala/blob/d46553aff5041472559a27f7a4b8d3dac76cf360/jsoniter-scala-benchmark/src/main/scala/com/github/plokhot

[2019-10-11 13:18] sirthias commented on #78
Thank you for this analysis, @plokhotnyuk !
I'll look into it...

[2019-10-11 13:27] sirthias commented on #77
Yes, good idea, thank you, @mushtaq!
I think I'm leaning towards simply marking the parameter of `Encoder.apply[T]` implicit, as you suggest. This would result in a way of summoning the implicit value that's identical to cats, which  is probably a good thing...

[2019-10-11 14:01] mushtaq commented on #77
👍

[2019-10-15 14:43] #62 closed

[2019-10-15 14:44] sirthias commented on #62
Let me know, @mushtaq, if the fix in https://github.com/sirthias/borer/commit/e83b7faee1d141cb2bf9ed53001fe90dfb6729de doesn't do the trick for you.

[2019-10-15 14:45] sirthias commented on #63
Closed by https://github.com/sirthias/borer/commit/e83b7faee1d141cb2bf9ed53001fe90dfb6729de

[2019-10-15 14:45] #63 closed

[2019-10-15 15:00] #64 closed

[2019-10-16 05:57] mushtaq opened #84 "Allow users to configure the default for Content-Type in requests and responses"
**Current behaviour**

- Content-Type header is mandatory in requests
- Content-Type header in responses defaults to `application/cbor` if Accept header is not specified

**Requested behaviour for requests**

- Content-Type header should be optional in requests.
- Allow the server implementor to configure the default value for Content-Type header in requests
- If a request does not have the Conten

[2019-10-16 06:28] mushtaq commented on #62
@sirthias, I managed to use AkkaHttpCompat in all the places where our custom class was being used and the code compiles, which is great!

But I am still unable to switch due to our emphasis on Json being the primary content type. I describe this requirement in a new issue: #84

[2019-10-16 08:08] #74 closed

[2019-10-16 08:32] #77 closed

[2019-10-16 10:09] sirthias commented on #84
Thank you, @mushtaq, for this ticket!

I don't quite understand what you mean here.
The `Content-Type` header is not optional if the message (request or response) contains a body (entity).

Which client (layer, library) are you using?

You mean that you'd like to inject an "artifical" `Content-Type` header if the client doesn't send one with it's request? You can do that with akka-http's routing d

[2019-10-16 10:09] #78 closed

[2019-10-17 18:37] sirthias commented on #53
Bundle uploads really are a game changer!
In fact, with bundle uploads this ticket becomes obsolete, at least for now.

[2019-10-17 18:37] #53 closed

[2019-10-18 04:04] mushtaq commented on #84
Maybe you are right. Give me some time to articulate and reproduce the issue I am facing. I Will comment back here once I figure out where is the problem.

[2019-10-18 04:13] plokhotnyuk commented on #53
Also, you can check if today is good day for releasing using https://status.maven.org/

[2019-10-18 07:04] sirthias commented on #53
Thank you, @plokhotnyuk, hadn't seen that page before.
Looks useful indeed!

[2019-11-20 04:14] mushtaq commented on #84
@sirthias I now understand how content type negotiation works. Managed to integrate the current borer behaviour in our library without much custom code. Closing this now.

[2019-11-20 04:14] #84 closed

[2019-11-20 08:11] sirthias commented on #84
Great! I'm glad things worked out well concerning the integration of borer into your codebase.

[2019-11-28 06:18] ndchandar opened #112 "Question about how to get underlying Json binary representation"
Hello,
I have a question. I am currently working on a project that's already using Circe and have to add Cbor support. Some of my ADTs have `Json` as member attributes. When i decode my cbor payload, I can either decode to a specific data type that's fully defined or to Dom Element (`Eg. borer.Json.decode(<someByteArray>).to[Element].value`). But what i need is to go from `Element` to Json binary

[2019-11-28 14:41] sirthias commented on #112
Thank you for reaching out, @ndchandar!
I'm afraid I don't fully unterstand your question.
What exactly are you trying to do?
Can you show some (pseudo-)code that you would like to compile?

[2019-11-28 19:02] ndchandar commented on #112
Thank you for your response. I think I found a solution to what I was looking but wanted your feedback

[code]

[2019-11-28 19:15] sirthias commented on #112
Ok, I see.
So you would like your Circe codecs to determine the structure of the messages and then simply convert this exact message structure to and from CBOR.

Your solution should work fine although it's of course not very efficient to first do a completely JSON encoding/decoding round trip before (de)serializing to/from CBOR.

A better approach would be to use the circe codec only for the tran

[2019-11-28 19:16] sirthias opened #113 "Explore `circe-compat` module"
... providing codecs for the circe JSON AST, which would then allow for using circe codecs to target CBOR with reasonable efficiency.

See #112.

[2019-11-28 19:32] ndchandar commented on #112
Thank you. `circe-compat` sounds like a great idea.

1. I have a large existing codebase that already uses Circe and it's time consuming to refactor them
2. Previously we were only supporting Json payloads. Our application now needs to support Cbor.
3. Circe has nice api to traverse and manipulate json. We heavily use this.

[2019-11-28 19:33] sirthias commented on #112
Ok. If you are using circe for traversing and manipulating JSON then circe is the right tool for the job. It sounds like the `circe-compat` would really be the way to go for you then.
I'll look into it next week.

[2019-11-28 19:33] #112 closed

[2019-12-01 12:26] plokhotnyuk opened #114 "Consider using more efficient SWAR techniques for parsing of numbers"
Usually, `IMUL` instruction [has latency 3 and throughput 1 (executed only on one execution port)](https://uops.info/html-instr/IMUL_R32_R32.html). It leads to port pressure and big latency when completion parsing of `Int` and  `Long` values.

Please, consider using of some [old trick for 8-digit values](http://govnokod.ru/13461#comment189156):
[code]

It can be even more suitable for parsing of `

[2019-12-03 11:03] #114 closed

[2019-12-03 11:04] sirthias commented on #114
Thank you for these pointers, @plokhotnyuk!
Awesome stuff!

[2019-12-03 16:06] #113 closed

[2019-12-05 09:48] sirthias commented on #114
There were indeed quite a few more small optimization lurking between the lines.
This is the current state: https://github.com/sirthias/borer/blob/master/core/src/main/scala/io/bullet/borer/json/JsonParser.scala#L131-L207

Thank you again for pointing out the optimization potential!

[2019-12-05 10:26] plokhotnyuk commented on #114
@sirthias Moreover, Intel encourages a new age to come! SIMD/SWAR branchless implementations are much more demanded after Jump Conditional Code (JCC) Erratum: https://github.com/oracle/graal/issues/1829

Also, I think that the current implementation still has room for improvement. As an example for small numbers with up to 8 digits a more efficient and fully branchless routine can be extracted: th

[2019-12-05 11:34] sirthias commented on #114
Yes, right.
I was shying away from pealing off the first iteration of the `parseDigit` tailrec so far but after giving it a proper attempt in the just committed https://github.com/sirthias/borer/commit/d84284c791408a5da6a2d0c6173a7e629f7d8a65 it turned out to be easier than I thought.

Thank you once again, @plokhotnyuk!!!

[2019-12-05 15:34] plokhotnyuk commented on #114
@sirthias Great work, Mathias!

I'm observing up to 20% improvements of throughput in parsing of numbers on my Core i7 7700HQ with the latest microcode from Intel ;)

##1.2.0
[code]

##1.2.1-SNAPSHOT
[code]

Will you cut v1.2.1 for that?

[2019-12-05 15:36] sirthias commented on #114
Cool.
Thanks for reporting these numbers.
Seeing that the improvements are indeed that significant I'll indeed publish a quick 1.2.1 release.
Thanks again!

[2019-12-05 15:54] sirthias commented on #114
Ok, `v1.2.1` published and pushed...

[2019-12-06 02:50] ndchandar commented on #113
Thank you @sirthias. Integrated and did one round of testing with our application and works like a charm.

[2019-12-06 07:51] sirthias commented on #113
Awesome! Thanks for the feedback, @ndchandar!

[2019-12-08 08:41] bilal-fazlani opened #123 "Why isn't nulloptions the default codec for Options?"
https://sirthias.github.io/borer/borer-core/nullable-and-default.html#nulloptions

This looks like an ideal way to encode and decode optional values

`null` IMO, better represents absence of a value compared to and empty array `[]` in json world.
I don't have much knowledge about CBOR but I have a feeling that cbor would also have something similar to null which represents absence of a value.

I w

[2019-12-08 19:02] sirthias commented on #123
Thank you, @bilal-fazlani, for this very good question, that I should really address in the documentation!

The reason that `NullOptions` isn't the default is that it is _unsound_ as in "it doesn't compose properly". Consider the type `Option[Option[String]]` and a respective value of `Some(None)`. With `NullOptions` this serializes to `null` and deserializes to `None` rather than `Some(None)`, wh

[2019-12-08 19:02] #123 closed

[2019-12-08 19:27] sirthias commented on #123
Just added a note to the docs at https://sirthias.github.io/borer/borer-core/nullable-and-default.html#nulloptions.
Thank you again for bringing this up, @bilal-fazlani!

[2019-12-09 03:21] bilal-fazlani commented on #123
Ohh yeah that makes sense. Thanks for the clarification!

[2019-12-11 11:41] mushtaq commented on #36
Now that we have fully adopted borer everywhere (akka-remoting, http, redis), we are trying to evangelise it to other teams.

Upvoting this issue once again because I feel that fixing this will really help me in making that pitch.

Thanks for a wonderful library @sirthias !

[2019-12-11 12:19] sirthias commented on #36
Great to hear that _borer_ works nicely for you, @mushtaq!
I'll see what I can do wrt to this ticket but I'd rather not hold my breath in anticipation of a quick fix. Fully automatic derivation really is full of traps...

[2019-12-17 15:05] #36 closed

[2019-12-17 15:08] sirthias commented on #36
I had an idea of how fully automatic derivation could be implemented *without* a lot of macro complexity and it turns out that it's indeed possible, without sacrificing flexibility, derivation or runtime performance or maintainability.

1bdfdfa02c5b7757e85bffe554d4a400b4c2a520 does it.
I'll add another commit with the documentation and then release the whole thing with `1.3.0` as a christmas prese

[2019-12-17 15:34] mushtaq commented on #36
@sirthias what a great news! Can't wait to try it out. I have comment on this test:
[code]

To avoid type ascription (`Labrador("Lolle"): AnimalX`), I almost always end up doing this:

[code]

Is there a way, it can be addressed directly while calling `deriveAllCodecs`?

[2019-12-17 15:38] mushtaq commented on #36
Also, I notice this comment in `MapBasedCodecs .scala`:
[code]

If I understand this right, if an Adt has unary case classes, they will get the equivalent of `ArrayBasedCodecs.deriveUnaryCodec` even for the MapBasedCodecs which is a fantastic default!

[2019-12-17 15:44] sirthias commented on #36
The `Codec` typeclass (just like `Encoder` and `Decoder`) is intentionally invariant. This is because, in most cases, you actually want an `Animal` to be encoded differently than a `Tiger` for very good reasons.
The encoding of an `Animal` needs to transport the information what type of animal the encoding represents (the `typeId`) whereas the encoding of a `Tiger` doesn't, because we already know

[2019-12-17 15:51] sirthias opened #130 "Add `MapBasedCodecs.deriveNonUnaryXXX` macros"
as counterpart to `ArrayBasedCodecs.deriveUnaryXXX`.

[2019-12-17 15:53] sirthias commented on #36
Ah, thank you for spotting this!
This comment is actually incorrect and mere copy-pasta from the `ArrayBasedCodecs`.
I'll get this fixed.

The `MapBasedCodecs` do **not** have special handling for unary case classes for the simple fact that that is already provided via the `ArrayBasedCodecs`. So, if you want a case class to be encoded without wrapping you can use `ArrayBasedCodecs.deriveUnaryCodec

[2019-12-17 16:16] mushtaq commented on #130
From #36

Oh. If I have Adt like:

[code]
This will encode `B("abc")` to `{"B":{"b":"abc"}}` and so on.

To achieve unwrapped encodings (like `{"B":"abc"}` ) , I will have to add `ArrayBasedCodecs.deriveCodec` for each case explicitly. I just wish there was a better way to control this.

Maybe `MapBasedCodecs.deriveAllCodecs` should default to unary codecs when available and `MapBasedCodecs.derive

[2019-12-17 16:24] sirthias commented on #130
My current plan is this:

1. Make `ArrayBasedCodecs` and `MapBasedCodecs` completely symmetrical. Both get this full set of macros:

- `deriveEncoder`
- `deriveUnaryEncoder`
- `deriveNonUnaryEncoder`
- `deriveAllEncoders`
- `deriveDecoder`
- `deriveUnaryDecoder`
- `deriveNonUnaryDecoder`
- `deriveAllDecoders`
- `deriveCodec`
- `deriveUnaryCodec`
- `deriveNonUnaryCodec`
- `deriveAllCodecs`

2. Make

[2019-12-17 17:27] mushtaq commented on #130
Not sure I have fully understood what these 3 variations do:
[code]

Won't these 2 variations suffice?
[code]

Then, "all" can have 2 analogous variations:
[code]

Once these 4 variations are available for both `ArrayBasedCodecs` and `MapBasedCodecs` then I do not need to mix and match. For my use case I can simply use `MapBasedCodec.deriveAllEncoders`?

This is a bit confusing, so I may be missin

[2019-12-18 08:02] sirthias commented on #130
Thank you for your feedback, @mushtaq.
I think you're right. This has all become much too confusing.

So I decided to clean things up and remove all `deriveUnaryXXX` macros altogether.
As a replacement there is now `CompactMapBasedCodecs`, which is the same as `MapBasedCodecs`, but with unwrapped unary case classes.

The way I understand your use case this should be the most straight-forward and c

[2019-12-18 08:03] sirthias commented on #130
Closed by https://github.com/sirthias/borer/commit/ea76070162f03bc16b63b78cc611b2332d7b8f6b.

[2019-12-18 08:03] #130 closed

[2019-12-18 08:10] mushtaq commented on #130
@sirthias Wonderful. Thank you so much! Christmas is early for sure 😄 .

I adopt this across the project as soon as it is out.

[2019-12-31 15:07] mushtaq opened #137 "CompactMapBasedCodecs.deriveAllCodecs does not compile for diamond Adts"
**Test:**

[code]

**Error:**

[code]

[2020-01-02 06:31] mushtaq commented on #137
Just to clarify, this affects all 3 variations of deriveAllCodecs and not just CompactMapBasedCodecs.

[2020-01-09 12:02] mushtaq opened #142 "AdtEncodingStrategy.flat() does not work with List[Adt]"
**Test**

[code]

**Exception**

[code]

[2020-01-09 12:05] mushtaq opened #143 "Cbor to Json conversion does not work for List[T]"
**Test**

[code]

[code]

[2020-01-09 13:08] #137 closed

[2020-01-09 14:32] sirthias commented on #142
Ok, thank you @mushtaq.
I can reproduce the bug and am working on a fix...

[2020-01-09 16:05] #142 closed

[2020-01-09 16:32] sirthias commented on #143
The reason for this effect is that the CBOR renderer encodes the `A` instance to a "sized array", i.e. an array with a fixed size. When decoded into the DOM this is accurately represented and the serialization to JSON fails because JSON doesn't support fixed-size arrays or maps.

More generally since JSON is a subset of CBOR and not the other way around, i.e. there are constructs in CBOR that have

[2020-01-09 17:46] mushtaq commented on #143
Oh, I see. I thought it arises only for List[A], but as you explained it will also be the case just for an instance of A.

I came across this behaviour only in attempt to debug some other issue with CBOR, so I don't really need this in the production code. In such cases your suggested solution will be more than fine. Not very critical for me.

[2020-01-10 12:11] mushtaq opened #144 "AdtEncodingStrategy.flat() does not work for recursive ADTs"
**Test**

[code]

**Exception**

[code]

[2020-01-10 13:13] #143 closed

[2020-01-10 13:37] mushtaq commented on #144
Maybe this can be further simplified (without recursion) to:

[code]

[2020-01-10 14:01] #144 closed

[2020-01-10 14:22] sirthias commented on #144
Thank you once again for reporting, @mushtaq.
While https://github.com/sirthias/borer/commit/5e5262944a2e8766e9bd45b935d4f40e467b4b1a fixes the immediate problem it's not a full solution yet.

This issue once again shows that the flat ADT encoding strategy is fundamentally flawed.

Consider the following ADT which has an intermediate abstract level with a recursion:

[code]

In order to break the

[2020-01-10 14:52] sirthias opened #145 "Avoid stacked type ids when encoding ADTs with intermediate level abstract recursions"
Consider the following ADT which has an intermediate abstract level with a recursion:

[code]

In order to break the recursion we need to explicitly define the codec for `B` in addition to the one for `A`:

[code]

Since, so far, codec layers are completely independent the value `C(None)` will be encoded to the following JSON value under the default ADT encoding strategy:

[code]

So we have two s

[2020-01-10 14:53] sirthias commented on #144
Just created https://github.com/sirthias/borer/issues/145 to track progress on solving this issue properly and completely.

[2020-01-10 15:53] plokhotnyuk opened #146 "[1.3.0] Regression in parsing of nested ADTs"
Here is PR with upgrading of the borer version from `1.2.1` to `1.3.0`: https://github.com/plokhotnyuk/jsoniter-scala/pull/452

One of the nested ADT for GeoJSON cannot be parsed due some unexpected error like here:
[code]

[2020-01-10 16:34] sirthias commented on #146
Ok, thank you.
This is in fact caused by https://github.com/sirthias/borer/issues/145, which I am in the progress of fixing.

[2020-01-11 00:34] hseeberger opened #148 "Is there a way to easily opt out of CBOR?"
httpie by default uses `Accept: application/json, */*`. When importing the implicit marshallers provided by `io.bullet.borer.compat.akkaHttp._`, borer decides to use CBOR for strings. This can be dealt with by the below, but I wonder whether there is some other (easier) way to opt out of CBOR.

[code]

[2020-01-11 13:32] mushtaq commented on #145
Yes, I agree that this is the best solution. I am also ok, if we just throw exception/compile time error for the recursive ADTs + flat encoding. In those rare cases we will be fine to handle the nested JSON.

Personally, I have started liking the default nested ADT encoding a lot. One of the arguments in favour of flat encoding came because of Typescript.

TS does not have inbuilt pattern-matching

[2020-01-11 13:33] mushtaq commented on #144
Commented on #145

[2020-01-13 15:37] sirthias commented on #145
Ok, interesting. Thank you for the pointer!

[2020-01-14 15:30] #148 closed

[2020-01-14 15:31] sirthias commented on #148
Yes, good idea, thank you for the suggestion!
https://github.com/sirthias/borer/commit/aac6d571dd1c6bd35aadb9c30645839ed75b3d10 switches the default to JSON and makes it easier to configure format preference on equal q-value.

[2020-01-23 16:16] #145 closed

[2020-01-23 16:48] sirthias commented on #146
Just released borer 1.4.0 which is confirmed to fix this problem in jsoniter-scala.

[2020-01-23 16:48] #146 closed

[2020-01-27 09:05] mushtaq opened #161 "Suggestion: Codec for unions to help Akka serialization"
Akka has a pattern for specifying serializers: first specify the serializer in `akka.actor.serializers` setting and then bind it with the types in `akka.actor.serialization-bindings`.

To avoid doing this for each top-level ADT, we mark every top-level ADT with a marker trait. This allows us to write just one serializer per application.

I am wondering if borer can help simplify writing this seria

[2020-01-27 11:10] sirthias commented on #161
I see what you mean.
Since the logic of the code generation for these `forUnionX` calls appears to be not very complex: Couldn't you simply write a small macro that generates the encoders, decoders and codecs?

Also, note that you can replace

[code]

with

[code]

and avoid the intermediate `Map` and `Iterator` creation.

[2020-02-03 06:20] mushtaq commented on #161
Given that macros will need rework after Scala-3, our team has decided to not implement any in our projects. (But library macros are kosher :-)

I thought this will be more of `sbt-boilerplate` kind work than a macro, no?

For now, we have take a simpler approach. Sharing an example of that pattern for those who may want to use borer with Akka:

- Say there is marker trait [CommandSerializable](ht

[2020-02-03 11:02] sirthias commented on #161
Very interesting! Thank you, @mushtaq, for the pointers to your solution!
Maybe your setup even warrants a blog post of some kind, to show, how the akka serializer infrastructure can be integrated with other libraries like borer.
I'm sure that your approach is interesting to other people as well!

Since the problem appears to be a more general one that isn't quite specific to _borer_, I'm indeed i

[2020-02-03 14:43] mushtaq commented on #161
You are right about the blogpost, thanks. Our team will soon write it up.

[2020-02-24 08:48] sirthias opened #182 "Add `Encoder[IterableOnce]` for Scala 2.13"
... that inspects `knownSize` and chooses definite/indefinite-length encoding accordingly.

Does this require version specific code (2.12 vs 2.13) or can we offload this to `scala-collection-compat`?

[2020-02-24 11:04] sirthias opened #183 "Upgrade scalajs support to scalajs 1.0.0"

[2020-02-25 15:14] skvithalani commented on #161
Based on the Akka Serializer pattern described in this issue, we have written a blog post - [How to write your own Borer based Akka Serializer !!!](https://medium.com/@saloniv/how-to-write-your-own-borer-based-akka-serializer-34354a5f5681). The blog post covers our journey of evolving the Akka serializer pattern using Borer.

[2020-02-25 15:23] sirthias commented on #161
Thank you for the pointer, @skvithalani!

[2020-02-26 14:17] sirthias opened #185 "ADT codec generation beyond intermediate types apparently broken"
[code]

yield

[code]

This should work w/o any issues.
(We need to find out why the current tests appear to be ineffective...)

[2020-02-26 14:29] plokhotnyuk commented on #185
Do you mean `sealed trait Intermediate extends Top` ?

[2020-02-27 19:37] droark opened #186 "Writing a CBOR object as a byte array within another CBOR object"
Hi. I'm having some issues with Borer and have hit a brick wall. Basically, as the header says, I'm trying to take a CBOR-encoded object and write it as a byte array inside another CBOR-encoded object. The somewhat abstracted code is as follows. `foo` is the object that I want to write inside `bar`.

[code]

(Note that the `foo` unit tests, which are not here, pass. I used cbor.me to verify the ou

[2020-02-29 16:16] sirthias commented on #186
Thank you for reporting this, @droark!
From you description this looks like sth that I should definitely investigate properly.
So I'll reopen this ticket until everything is clear...

[2020-02-29 16:33] sirthias commented on #186
Ok, just confirmed this to be a bug!
I'll get a fix out ASAP.
Thank you again for reporting this, Douglas!

[2020-02-29 16:39] sirthias commented on #186
Note that, until the next release containing the fix is released, you can use `Cbor.encode(...).withConfig(Cbor.EncodingConfig(allowBufferCaching = false)).toByteArray`
on all _nested_ calls to work-around the problem.
On the outermost level buffer caching can remain enabled (but it doesn't hurt correctness if you simply disable buffer caching everywhere).

[2020-03-02 13:33] #186 closed

[2020-03-03 12:34] ajaychandran opened #189 "Encode enumerations defined as case objects with Type ID"
Is it possible to encode enumerations defined as case objects with just the Type ID?
Something along the lines of [deriveEnumerationReader](https://pureconfig.github.io/docs/overriding-behavior-for-sealed-families.html).

[code]

[2020-03-03 12:50] sirthias commented on #189
If your whole ADT only consists of case objects I'd recommend [Enumeratum](https://github.com/lloydmeta/enumeratum), which gives you a few other benefits as well.

Then you can write sth like this:

[code]

and set up your companion object like this

[code]

[2020-03-03 12:54] ajaychandran commented on #189
Thanks for the info! Closing the ticket.

[2020-03-03 12:54] #189 closed

[2020-03-05 09:16] sirthias opened #191 "Add `borer-compat-cats` module"
With default codecs for

- `Chain[A]`
- `Ior[A, B]`
- `NonEmptyChain[T]`
- `NonEmptyList[T]`
- `NonEmptyMap[T]`
- `NonEmptySet[T]`
- `NonEmptyVector[T]`
- `Validated[A, B]`

[2020-03-06 09:51] #182 closed

[2020-03-06 09:51] #183 closed

[2020-03-06 10:01] sirthias commented on #185
Confirmed to be not a _borer_ issue.

[2020-03-06 10:01] #185 closed

[2020-03-06 15:14] #191 closed

[2020-03-20 09:10] mushtaq opened #198 "Cross publish to Scala.js 0.6.x"
The latest version (1.5.0) is published only for Scala.js 1.x.

We tried to upgrade our libraries to Scala.js 1.x, but there are other blockers so we may have to stay on 0.6 for a while.

It will be great if 0.6 is supported a little longer.

[2020-03-23 09:38] sirthias commented on #198
yes, ok, I'll see that I get a cross-built 1.5.0 release published...

[2020-04-03 11:08] shubhamJay opened #208 "Codec for ActorRef ?"
This is particularly needed while using borer for serialising actor messages which carry actor refs(which is the suggested way to pass around refs).
Does it make sense for akka-compat module to provide a codec for ActorRef?

An implementation for typed ActorRef could look something like this:

[code]

For classic ActoRef, could look something like this:
[code]

[2020-04-03 11:28] sirthias commented on #208
Yes, this looks like a good idea!
Thank you.

I'll include it in the next release...

[2020-05-05 19:41] sptz45 opened #227 "Cannot deserialize empty arrays of non-primitive types"
## The bug

Currently the following code fails with a `ClassCastException`:
[code]

The exception message is:
[code]

The code works as expected if we use a primitive type like `Int`:
[code]

## The root cause

When decoding an array the `io.bullet.borer.internal.Util.emptyArray` method is used to construct empty arrays. The method is defined as:
[code]

The exception is thrown because in Java we

[2020-05-07 10:33] #227 closed

[2020-05-07 10:35] sirthias commented on #227
Thank you, Spiros, for this awesome bug report!
Not simply with a very clear problem description, but also a complete root-cause analysis!
Kudos and huge hats-off to you!

I'll take the fix for this as a nice trigger for the next release, which I'll publish this afternoon.

[2020-05-07 14:35] sptz45 commented on #227
Thank you @sirthias for the quick fix!

[2020-05-14 12:02] mushtaq commented on #198
Given that most ecosystem has now moved to scala.js 1.x, I would say this is low priority for me. See also this [discussion](https://github.com/scala-js/scala-js/issues/4045).

[2020-05-14 12:11] sirthias commented on #198
Thank you, @mushtaq, I agree with you.
Seeing that my capacity isn't exactly abundant these day I'd be inclined to simply close this ticket.

[2020-05-14 12:11] #198 closed

[2020-07-23 20:02] ArulselvanMadhavan opened #269 "Problem with Encoding BigDecimals"
Hello @sirthias ,

Thanks for writing this library and the easy integrations with `circe` and `akka`, which plays well into our tech stack at work.

I tried to switch our circe JSON payload with `CBOR` and noticed a problem with encoding `BigDecimal`.

I was able to reproduce the problem on a smaller scale

[code]
Error Message: I get a stackoverflow error
[code]

I'm not sure if I'm using the lib

[2020-07-24 13:46] #269 closed

[2020-07-24 13:46] sirthias commented on #269
Thank you, @ArulselvanMadhavan, for reporting this bug!
I'll quickly release 1.6.1 with the fix for you...

[2020-07-24 14:14] sirthias commented on #269
And done.
Release 1.6.1 is on sonatype and should appear on maven central shortly.
Thanks again for reporting!

[2020-07-24 16:04] ArulselvanMadhavan commented on #269
Thanks @sirthias

[2020-07-25 11:25] bilal-fazlani opened #271 "How to write codecs for mongodb json"
[code]

Mongo values are text but don't have double quotes

[code]

I am trying to write a codec for `ObjectId`

So far, I have tried the following but it doesnt seems to work..

[code]

I get this exception:

[code]

Is it possible to write codec of ObjectId ?

[2020-07-25 11:33] bilal-fazlani commented on #271
using `w.writeString(s"ObjectId(${value.id})")` writes the value with double quotes

[2020-07-25 12:44] bilal-fazlani commented on #271
I got the writer to work

[code]

It feels like a hack.. but works. Please let me know if there is a clean way to do this.
Still no luck with reader though ..

[2020-07-25 14:46] bilal-fazlani commented on #271
Implementing a decoder is difficult because it expects the value to be a valid json.. which not true in my case ..

[2020-07-25 16:50] sirthias commented on #271
_borer_ implements a *JSON*-codec. What you are trying to parse isn't JSON, therefore you are somewhat out on your own there. To me it seems the best and most robust solution for your use case would be to pre-/post-process the input/output and turn it into actual JSON before feeding it to _borer_.
Would that work in your case?
It looks like a simple regex-based search & replace might suffice...

[2020-07-25 18:57] bilal-fazlani commented on #271
You are right. I agree.
While search and replace will work, I explored more and found [BSON library](https://mongodb.github.io/mongo-scala-driver/1.2/bson/extended-json/). It seems like a the right tool for my current job.

[2020-07-25 18:57] #271 closed

[2020-08-04 03:54] mushtaq commented on #208
As mentioned in [this issue](https://github.com/akka/akka/issues/27975#issuecomment-542097094), we do not need a dependency on `ActorSystem` for implementing `Codec[ActorRef[T]]`. One can write obtain it at runtime from a ThreadLocal like so:

[code]

This will be good addition to the borer-akka module.

[2020-08-04 12:35] sirthias commented on #208
Ah, right.
And I forgot to include it in the last release.
Sorry about that.

Will try again with the next one...

[2020-10-01 06:04] mushtaq opened #289 "Ability to inject extra fields into derived codec"
**Use case**

We represent domain errors as ADTs extending RuntimeException like this:

[code]

Encoding and decoding this ADT using `MapBasedCodecs.deriveAllCodecs` works great when producer and consumer both are Scala programs. But, Javascript consumers are also interested an additional `error_message` field in the json that captures the value of `Throwable.getMessage`.

So, we write the codecs

[2020-10-08 13:35] sirthias commented on #289
I see the problem.

In these types of cases AST-based serialization solutions have the benefit that you can wrap existing encoders and easily modify their output before passing the generated AST down to the actual AST-to-bytes layer.
Since _borer_ is AST-less this is not easily possible.

One work-around would be to simply _wrap_ the serialized DomainError in another JSON object, which also contai

[2020-10-08 13:35] #289 closed

[2020-10-08 13:36] sirthias commented on #289
I'm going to publish another release right away, containing this new feature.
The last one is already a bit old... :)

[2020-10-08 14:47] #208 closed

[2020-10-08 17:37] mushtaq commented on #289
Wow, fantastic, thank you so much!
Going to upgrade right away.

[2020-10-23 03:56] mushtaq opened #305 "How to access the caching layer while writing custom decoders"
It seems, Borer has an internal caching layer for efficient decoding of `Flat` encoded of ADTs that avoids double-pass decoding. Here is [the relevant section](https://sirthias.github.io/borer/borer-derivation/map-based.html#alternative-encoding-of-adts) in the docs:

This requires either potentially unbounded caching or a second pass over the input. borer’s approach is the former (caching) with a

[2020-10-23 08:00] sirthias commented on #305
The internal caching infrastructure is intentionally _not_ a public API, since it's rather low-level as well as very mutable and its proper use requires understanding the inner workings of _borer_ to a much deeper degree than healthy. In other words it's much to easy to shoot yourself in the foot with it.

There might be, however, a relatively easy and fast solution in your special case if the ext

[2020-10-23 08:51] mushtaq commented on #305
Unfortunately, that is not the case.

But I understand your reasoning behind keeping the caching API internal. Just wanted to confirm if I have not missed out on something which exists without documentation.

[2020-10-23 08:55] sirthias commented on #305
Ok.
Then, maybe there is a way to simply use the existing Flat AdtEncoding for your use case?
In your code snippet above it looks like you are actually rebuilding what is already there, in a less efficient form.

[2020-10-23 09:00] sirthias commented on #305
I'm thing about sth along these lines:

[code]

[2020-10-23 11:57] mushtaq commented on #305
Yes, that is certainly a clean encoding.

I am still trying to understand why `val bytes = Json.encode(paramAST).toByteArray` is required in my original solution? Without exposing the internal caching layer, is it not be possible to have an API like below?

[code]

In this example, `byteArray` represents the Array[Byte] consumed to create `paramAST`. Maybe the streaming nature of borer does not al

[2020-10-23 12:08] sirthias commented on #305
Yes, exactly. You cannot easily "unread" bytes or re-read what you have already consumed, as this would immediately raise quite a few hard questions.

However, you can test for a match against the next bytes _without_ actually reading them.
This is what the `reader.tryReadXXX` methods are for.
However, this only works on the lowest level and doesn't compose. So, if the `valueType` member isn't the

[2020-10-23 12:50] mushtaq commented on #305
Thanks for explaining this! And yes, `AdtEncodingStrategy.flat` based solution looks like the best approach here.

[2020-10-23 12:50] #305 closed

[2020-10-28 10:42] mushtaq commented on #305
@sirthias I also want to fully understand this option.

Your subsequent comment indicates that reader.tryReadString("valueType") will be used which will return a Boolean.

But what after that? Not able to visualise the full solution here.

[2020-10-28 10:51] sirthias commented on #305
After you've read the String `"valueType"` you know that the next element is going to be the `valueType` value. So you read that one and branch out to whatever logic is required for reading the specific value contents.
The benefit is that you know what structure to deserialize _before_ reading it, which means you don't have to cache it.

[2020-10-28 12:41] mushtaq commented on #305
Ok, so instead of `reader.tryReadString("valueType")`, I will have to say `val valueType = r.readString("valueType").readString()`, and then branch out based on `valueType`.

Maybe `tryReadString` will just help in throwing a custom exception if it returns `false`.

[2020-10-28 13:31] sirthias commented on #305
Well, you would likely have sth like this:

[code]

The problem with this approach is that `readDog` can't be a simple `dogDecoder.read(r)`, because a complete decoder would require the first element to be an `ArrayStart/Header` or `MapStart/Header` element.
But in this case this opening element has already been consumed and the cursor is now _inside_ of the map or array.

[2020-10-28 14:08] mushtaq commented on #305
Ok, I see. I tried it so understand what you mean by 'cursor is now inside of the map'. Thanks!

[2020-11-03 12:52] OndrejSpanel opened #309 "Circe-compat not available for Scala.js"
It seems last version of circe-compat which is available for Scala.js is 1.4.0 for Scala.js 0.6.x (see https://mvnrepository.com/artifact/io.bullet/borer-compat-circe).

If the only reason is some straightforward porting needs to be done and nobody was interested so far, I might be able to contribute. Are there any other reasons, or some particular obstacles to expect?

[2020-11-03 12:54] sirthias commented on #309
Hey Ondřej,
thanks for offering to chip in!
I don't see any issues with the port, but I suspect that it makes sense to first go for an overall upgrade to Scala.js 1.x.
If you don't want to attempt that I might be able to get to it myself, e.g. tomorrow...

[2020-11-03 12:57] OndrejSpanel commented on #309
That was exactly what I meant. I see no reason to continue 0.6,x support. I will see when I will be able to get to that (I doubt it will be today or tomorrow, though).

[2020-11-03 12:59] sirthias commented on #309
Yeah, indeed. There is no reason to continue with 0.6.
I'll give it a try later on today...

[2020-11-03 13:31] OndrejSpanel opened #310 "YAML input / output"
Besides of Json I would like to read and write YAML as well. I guess this should not be much difficult, if I understand it right all I need for that is implementing Input / Output interfaces. It is not my ambition to parse any possible YAML, only a simple subset of it which I can write as well.

Compared to JSON I think the difference is YAML parser needs to indentation aware both on input an outp

[2020-11-03 13:34] sirthias commented on #310
I don't think YAML reading/writing would be a good feature for _borer_.
YAML is an entirely different beast and has very little overlap with CBOR or JSON.
Why do you think _borer_ would be a good vehicle for your needs?

[2020-11-03 13:41] OndrejSpanel commented on #310
I understand complete YAML is very different from JSON, however its subset can be used as a human friendly representation of JSON, which is what I currently do.

In my application I use serialization to achieve two things:

- file storage of structured data
- their network transfer

I currently use Circe, but it has two drawbacks for me:

- it is unable to handle binary formats for efficient netwo

[2020-11-03 13:46] sirthias commented on #310
I see.
So you essentially want to be able to read and write your alternative JSON syntax (say "YAML-JSON"), which supports exactly the same semantic features as JSON proper.
Then the only thing you'd need to write would be a `YamlJsonParser` and a `YamlJsonRenderer`, as an analog of the `JsonParser` and `JsonRenderer` that's already there.

The parsing and rendering layer is separated from everyth

[2020-11-04 12:14] OndrejSpanel opened #311 "Configure derivation: different default value handling"
I have many case classes where I want the default values to be included (actually in my case `equals` cannot be implemented properly for them, as they are native JS types, but sometimes you want to include even members with proper comparison).

Currently borer always tries to skip default values in the output:

Would it be possible to provide some configuration options (something like [circe-gener

[2020-11-04 13:58] OndrejSpanel commented on #311
The only sensible workaround I have found so far is to avoid default parameters in constructors and to provide them in a companion object `apply` instead.

I was trying to use `DefaultValueAware` in a following way:

[code]

This does not seem to have any effect, the `ColorRGB` members of other objects still have their `equals` called at runtime.

[2020-11-04 15:41] OndrejSpanel opened #312 "Confusing missing key report when a key is renamed using an annotation"
Consider following code:

[code]

It prints an exception:

As it is reporting the key as missing in the input, I think it should print the key names as renamed by the annotation, as this is what is really missing, not the Scala variable names, i.e. the message should read:

[2020-11-06 15:36] #312 closed

[2020-11-06 15:36] sirthias commented on #312
Thank you for reporting!

[2020-11-06 16:25] #311 closed

[2020-11-06 16:25] sirthias commented on #311
Thanks for the suggestion!

[2020-11-06 16:42] sirthias commented on #309
Actually, the reason for this is that I had to disable the build (and publishing) of the `compat-circe-js` module, because `circe-derivation_sjs1_2.1X` wasn't published yet at that point.

Now that this dependency is available the solution is to simply re-enable the build, which I'm doing now...

[2020-11-06 16:43] #309 closed

[2020-11-06 16:48] sirthias commented on #312
Just released _borer_ version 1.6.3 with the fixes to #309, #311 and this ticket.
Should appear on maven central soon.

[2020-11-06 19:13] OndrejSpanel commented on #311
Awesome, looking forward to that. I really did not expect to get this feature so soon.

I guess the way it is implemented I can decide which classes will use this feature and which not by bringing the config in their scope or not? That is really great.

Once it is published I will let you know how it works for me.

[2020-11-06 19:15] OndrejSpanel commented on #310
As a temporary solution I use Circe to convert between Json and YAML and Borer is always facing JSON only. The data I want in YAML are quite small now, therefore this works sufficiently well for me.

If I ever decide to implement something more proper for Borer, I will open a new ticket.

[2020-11-06 19:15] #310 closed

[2020-11-07 16:17] OndrejSpanel commented on #311
Works like a charm. Thanks a lot for a super-quick implementation.

[2020-11-07 20:38] sirthias commented on #311
Great! Thank you for the feedback!

[2020-11-07 20:38] sirthias commented on #310
Ok, great. Thank you!

[2020-11-11 10:49] OndrejSpanel opened #315 "Scalar types (Int, Long, Float, Double, Boolean) as map keys"
I find inconvenient Scalar types cannot be used as map keys when serializing to JSON. Quoting them as strings should be trivial. If you are not opposed to the idea, I can try preparing a PR.

[2020-11-11 10:56] sirthias commented on #315
hmm... yes, I think there is no real risk in allowing for non-string, simple types as map keys, which get converted to their default `toString` results at the lowest-possible level.
The only change required would be in the `JsonRenderer` (plus a few extra test cases).

Sure, I'd be happy to merge your PR here, thank you!

[2020-11-11 11:58] OndrejSpanel opened #316 "A few LoggingSpec tests are failing"
A few LoggingSpec tests are failing to me on a freshly cloned project:

This is Windows 10 x64, Oracle Corporation Java 1.8.0_181, tests run from IntelliJ sbt shell.

Running tests from the IDE

[code]

[2020-11-11 12:00] OndrejSpanel commented on #316
The text output looks the same to me. Perhaps this is CR/LF issue?

[2020-11-11 12:28] sirthias commented on #316
Yes, I'm pretty sure this is a line-separator issue.
I've never compiled/tested the project on Windows, so this isn't entirely unexpected.
The fix, however, shouldn't be too hard...

[2020-11-11 12:29] #316 closed

[2021-01-04 03:47] ghostdogpr opened #339 "Fully-Automatic Derivation with nested sealed traits / case classes"
If I change slightly the example from the docs and add a sealed trait for `Color`:
[code]

Then the following code
[code]
Doesn't compile anymore (`Could not find implicit Encoder[Codecs.this.Color] for parameter `color` of case class Codecs.this.Fish`).

Is there a way to get all the inner types derived automatically?

[2021-01-04 03:58] ghostdogpr commented on #339
Same issue with a nested case class by the way:
[code]

`Could not find implicit Encoder[Codecs.this.NestedColor] for parameter `color` of case class Codecs.this.Fish`

[2021-01-04 09:54] sirthias commented on #339
With `deriveAllCodecs[Animal]` you tell borer to generate codecs for all subtypes of `Animal`.
The error message tells you that you need a codec for `Color`.

So simply add a derivation for `Color` and put it before the one for `Animal`:

[code]

[2021-01-04 09:55] sirthias commented on #339
Similarly, in your second example, you need to a codec for `NestedColor` since there is none defined and the `deriveAllCodecs[Animal]` doesn't cover it since it's not a subtype of `Animal`.

[2021-01-04 10:00] ghostdogpr commented on #339
So there is no way to get full auto derivation (like Circe for example) and generate codecs for all the nested types? I was investigating using Borer for an existing codebase with a large nested hierarchy and hoping there was a way to avoid adding hundred of calls to derive types individually 😀

[2021-01-04 10:33] sirthias commented on #339
borer's derivation doesn't cross type hierarchies, no.
So you'll have to add one line per type hierarchy, not type.

This is intentional, since this way you have complete control over whether, where and how codecs are cached.
Will total magic derivation the question of how many different codecs are actually generated and whether and how they are cached is often very obscure. (See for example https

[2021-01-04 10:36] ghostdogpr commented on #339
I see, thanks. Even though it's not great for production usage, it can be quite useful for quick prototyping. But I understand your point 👍

[2021-01-04 10:36] #339 closed

[2021-03-17 12:27] wongelz opened #367 "deriveDecoder doesn't work when 'Unit' type redefined"
The following code:

[code]

gives the following compiler error:

[code]

[2021-03-17 13:05] sirthias commented on #367
Ok, thank you for the report.
This looks like a hygiene problem that should be easy to fix.

However, naming your types like Scala's core types (`Unit`, `Any`, ...) is bound to create a lot of problems for you in many places, so the recommendation here would be: Don't do it. :)

[2021-04-27 12:12] MarconZet opened #388 "Bug in borer-derivation? deriveCodec fails to compile when using type alias"
[code]
fails build with:
[code]
Expected behaviour: Build successful

I found a workaround with:
[code]
but that's far from an elegant solution.

[2021-04-27 12:21] sirthias commented on #388
Ok, thank you for reporting.
I happen to have time right now to look at this and will do so right away...

[2021-04-27 12:42] #367 closed

[2021-04-27 12:42] #388 closed

[2021-04-27 12:43] sirthias commented on #388
Thank you, @MarconZet, for reporting.
The fix is already in the master branch.
Would you like a quick patch release to unblock this issue on your side?

[2021-04-27 12:46] PawelLipski commented on #388
We'd appreciate a patch release :)

[2021-04-27 12:53] sirthias commented on #388
Ok, just pushed borer 1.7.1 to sonatype.
You can pull it from there or wait for the sync to maven central, which is probably going to take a few hours though...
Thanks again for reporting!

[2021-04-27 17:22] PawelLipski commented on #388
Wow that's one of the fastest report-to-release cycles I've seen in OSS so far ❤️

[2021-04-27 17:46] sirthias commented on #388
:)
It was just a lucky coincidence that the bug report hit a perfect break between things on my side.
I'm glad that borer works out for your setup!

[2021-04-27 18:56] PawelLipski commented on #388
Actually, FYI, as you've probably noticed, we're working on ready-to-use serializer for Akka messages/event/states, since Jackson that's suggested by Akka docs is a joke (surprising runtime failures, no support for Scala `objects`/ADTs etc.) 😅

Are you aware of any work that has been already done in that direction? There's borer-akka-compat but AFAICS it doesn't provide a ready Serializer, just Co

[2021-04-27 19:18] PawelLipski commented on #388
Also @sirthias ... would it be possible to retain support for Scala 2.12 in 1.7+? Since AFAICS 1.7.0 and 1.7.1 have only been published for 2.13 ://

[2021-04-28 14:10] PawelLipski opened #389 "Scala 2.12 support in 1.7+?"
Is there going to be Scala 2.12 support in 1.7+ versions? AFAICS the last 2.12-compatible version was 1.6.3 ☹️

[2021-04-28 14:13] PawelLipski commented on #389
I see that changelog for 1.7.0 says `removed support/cross-building for Scala 2.12`... has there been an obstacle in further support of 2.12?

[2021-04-28 14:42] sirthias commented on #389
I removed support for Scala 2.12 in the upgrade to 1.7.0 because it was initially planned to cross-build 1.7.0 also against Scala 3 and I hit some road block where 2.12 support was a pain.
Therefore I removed 2.12 support in order to simplify the build.

However, I later decided to move Scala 3 out into its own branch and _not_ go for cross-building.
Therefore it should be easy to just revert the

[2021-04-28 14:43] PawelLipski commented on #389
We'd be grateful if you could re-add the 2.12 support in a 1.7.3 release, our project is still kinda-stuck at Scala 2.12 :/

[2021-04-28 14:44] sirthias commented on #388
Yes. The reason is that we haven't needed these things ourselves yet.
I'd be happy to review and merge any PRs if you want to submit any...

[2021-04-28 14:44] sirthias commented on #389
Ok, will try to get that done sometime in the next days...

[2021-04-28 14:51] PawelLipski commented on #388
Great! We're prototyping that as a separate project for convenience as for now, but it makes sense to integrate it back into main borer repo... opened https://github.com/VirtusLab/akka-safer-serializer/issues/18 for that

[2021-04-29 14:32] sirthias commented on #389
Just released 1.7.2 with Scala 2.12 cross-building re-enabled...

[2021-04-29 14:32] #389 closed

[2021-05-09 04:14] mushtaq commented on #388
@PawelLipski We are using borer for akka-serialization using the pattern mentioned [here](https://github.com/sirthias/borer/issues/161#issuecomment-581257120).

[2021-05-10 11:09] PawelLipski commented on #388
@mushtaq actually! since you're using Borer for a bit longer than us... do you have any experiences with **migrating Akka events** when Borer is used as a serializer (or any other library, for that matter)?

[2021-05-10 12:27] PawelLipski opened #400 "Support for Akka event migration?"
Akka Persistence provides docs on how to migrate events when using Jackson-based serializer: https://doc.akka.io/docs/akka/current/serialization-jackson.html#schema-evolution

or a protobuf-based one: https://doc.akka.io/docs/akka/current/persistence-schema-evolution.html

[akka-kryo](https://github.com/altoo-ag/akka-kryo-serialization) docs, in turn, explicitly state that:

_Note that this serial

[2021-05-26 18:37] etspaceman opened #418 "CBOR tag `EpochDateTime` cannot be represented in the circe JSON AST` when using BigDecimal"
Hello -

I'm attempting to update my project to use a `BigDecimal` format for `java.time.Instant`. However, Borer throws an error when using this.

Check out my PR here for more information on the changes that I'm attempting to implement:

https://github.com/etspaceman/kinesis-mock/pull/76

[2021-05-26 19:01] sirthias commented on #418
Thank you for reaching out!
However, you neither show the code you are trying to run nor the error that _borer_ is throwing.
So my options in helping you are extremely limited.
Please provide more details on what you are trying to achieve, how you are doing it and the problem you are facing.

[2021-05-26 19:57] etspaceman commented on #418
Sure.

So I am using the Circe compat to convert between Circe Encoder/Decoder values and the Borer offerings:

You can see the new instances that I am attempting to introduce here:

https://github.com/etspaceman/kinesis-mock/blob/fixTimestampCirce/src/main/scala/kinesis/mock/instances/circeBigDecimalInstant.scala

And you can see where I leverage the instances here:

https://github.com/etspaceman

[2021-05-26 20:27] sirthias commented on #418
Ok, you don't say explicitly say so but I assume that the described error happens when you try to "cross-decode" a CBOR-encoded value (which looks like it might come from some Amazon-Service) to JSON, so you can use your existing circe decoders to deserialize it to an instance of your custom types, right?

As the _borer_ docs say, CBOR is a superset of JSON, meaning that all JSON values can be rep

[2021-05-26 20:30] etspaceman commented on #418
Thanks for the quick response! I will try this.

[2021-05-26 21:23] etspaceman commented on #418
Getting the same. I think its due to the validation in the AstDecoder, which throws away any tag that is not `PositiveBigNum`, `NegativeBigNum` and `DecimalFraction`.

I tried to implement my own decoder which (hackily) added `r.hasTag(Tag.EpochDateTime)` to the if statement here:

https://github.com/sirthias/borer/blob/master/compat-circe/src/main/scala/io/bullet/borer/compat/circe.scala#L153

Bu

[2021-05-26 21:46] etspaceman commented on #418
I believe this is an issue with the match statement here:

https://github.com/sirthias/borer/blob/master/core/src/main/scala/io/bullet/borer/Decoder.scala#L193

[2021-05-27 21:51] etspaceman commented on #418
@sirthias I have been having a heck of a time trying to resolve this.

So apparently the main issue that I am trying to solve is that the AWS client will encode data for timestamps differently between JSON and CBOR.

What I have attempted to do is create Encoder/Decoder instances that no longer depend on the Circe compat layer as a result. I tried to accomplish this by leveraging the `derivation`

[2021-05-28 03:53] etspaceman commented on #418
I was able to implement a custom AstDecoder by implementing a custom Decoder for the EpochDateTime use case as such:

[code]

My custom AstEncoder is simply a copy of the default with an added case for the tags:

[code]

[2021-05-28 03:53] #418 closed

[2021-08-02 14:46] sirthias commented on #400
Hi Pawel,
I'm sorry for the late reply, I only saw this ticket just now.

Schema evolution with _borer _can be implemented in a way that's very similar to what the Akka docs say about Jackson.
If you use the `MapBasedCodecs` unused members are simply skipped during decoding and members with default values are properly initialized if the respective member is not present.

_borer_ itself has no conc

[2021-08-19 14:29] mushtaq commented on #305
With the latest version supporting transcoding, I realized that these 2 steps from my original decoder:

[code]

Can be replaced with a single step:
[code]

This will have the benefit of single pass decoding I was looking for. Did I get it right, @sirthias

[2021-08-22 20:19] sirthias commented on #305
Yes, @mushtaq, the second snippet you show produces identical output to the first one but is much more efficient, since no actual intermediate byte array representation has to be generated.
👍

[2021-08-23 02:08] mushtaq commented on #305
Thanks for confirming!

[2021-11-13 14:18] mushtaq opened #480 "Support scala 3"
I think this mainly applies to the derivation module because macros will need to be rewritten.

[2021-11-15 09:56] sirthias commented on #480
Thank you, @mushtaq!
I am on that.
With low prio at this point but the migration to Scala 3 is on my radar.

[2021-12-17 15:06] sirthias opened #495 "Fix link in docs"
The link to the @key source is stale on this page:
https://sirthias.github.io/borer/borer-derivation/type-ids.html

[2022-01-06 14:24] martinring commented on #480
Hey @sirthias, would you accept any help with the scala 3 migration? I'd love to get involved.

[2022-01-08 13:59] sirthias commented on #480
Hey Martin,
thanks for raising your hand!
I'm feeling the pressure on this ticket myself, but have so far refrained from diving in head first in order to not throw my new years resolution "focus more on the actual important in your life" right out of the window in the first days of January... :)

I've already played around with Scala 3 support sometime last year and managed to get cross-building a

[2022-02-17 10:07] plokhotnyuk commented on #480
Hey Mathias,

[Here](https://github.com/plokhotnyuk/jsoniter-scala/tree/master/jsoniter-scala-macros/shared/src/main/scala-3/com/github/plokhotnyuk/jsoniter_scala/macros) is a great example of derivation macros migration from Scala 2 to Scala 3.

All credits to @rssh - he made it source compatible between Scala 2 and 3 versions to be tested by [the same test sources](https://github.com/plokhotnyuk

[2022-02-17 13:38] sirthias commented on #480
Thank you, @plokhotnyuk!
I'll take a look at it.
I'm currently planning on starting with the port to Scala 3 later this month, although I probably won't go for a cross-compiling setup.
I'll simply bump the version number and make a full jump to Scala 3...

[2022-02-17 14:15] mushtaq commented on #480
@sirthias Came across this note in Scala [3.1.1 release](https://www.scala-lang.org/blog/2022/02/01/scala-3.1.1-released.html):

But as a user of this lib, I am ok if you want to release say `borer-2.0.0` only for Scala-3.
I do not see any issue in keep using 1.7.2 version for those who remain on Scala 2.13.

[2022-05-21 00:50] guntiso opened #567 "StringNumbers, StringBooleans - boxed does not work"
scala> import io.bullet.borer.Decoder.StringNumbers._
     | import io.bullet.borer.Json
     | Json.decode(""""42"""".getBytes("UTF-8")).to[Int].value
val res1: Int = 42

scala> Json.decode(""""42"""".getBytes("UTF-8")).to[java.lang.Integer].value
io.bullet.borer.Borer$Error$InvalidInputData: Expected Int but got Chars (input position 0)

[2022-05-21 01:01] guntiso opened #568 "StringNumbers - BigInt, BigDecimal not supported"
scala> import io.bullet.borer.Decoder.StringNumbers._
     | import io.bullet.borer.Json

scala> Json.decode("42".getBytes("UTF-8")).to[BigInt].value
val res0: BigInt = 42

scala> Json.decode("42".getBytes("UTF-8")).to[BigDecimal].value
val res1: BigDecimal = 42

scala> Json.decode(""""42"""".getBytes("UTF-8")).to[BigInt].value
io.bullet.borer.Borer$Error$InvalidInputData: Expected BigInteger but

[2022-05-27 21:25] OndrejSpanel commented on #480
I am interested in Scala 3 version, as Borer is one of the last few major dependencies blocking my project from upgrading.

Is there anything I could do to help this happen (work on some issues, sponsoring...)?

[2022-05-28 07:31] sirthias commented on #480
@OndrejSpanel We are in the same position as you, with borer being the last dependency holding us back from Scala 3 upgrade.
So, I've been investing a few hours last week to make it happen and made good progress.
There is only one last thing missing in the derivation macro work but I expect to be able to cut at least an initial Scala 3 version until Friday.
Which modules are you depending on?
Only

[2022-05-28 08:00] OndrejSpanel commented on #480
Exactly, core and derivation.

That is really great news.

If there is some way I could help, please let me know. Otherwise I stay looking forward to the version.

[2022-06-03 14:18] sirthias commented on #480
Ok, quick status update:
ArrayBasedCodecs are passing all tests and MapBasedCodecs and completely implemented.
I'm in the process and enabling all tests, one by one, cleaning up, etc.
However, I have to stop right now because I'm about to take off to a two week family vacation.
So, unfortunately, no release yet.

But, there is not much missing, maybe two or three hours more before a first release

[2022-06-03 14:31] OndrejSpanel commented on #480
Great news. Thanks for letting us know on the progress, so that we can tune our migration plans accordingly.

Enjoy your holiday.

[2022-06-19 09:48] phdoerfler opened #572 "Best way to write a "Codec[Any]""
This is a bit of a silly issue for a pet project of mine. I am afraid it has gotten a bit long, but I wanted to share what research I have done.

I wrote a simple akka-persistence journal plugin using Borer, but it can only write and read Strings currently. Typically, akka-persistence plugins support `Any` and not just `String` and I want to take my plugin to the next level and make it support thi

[2022-06-20 15:13] sirthias commented on #572
Ok, Philipp, let's take a step back and look at your overall requirements first.

When choosing a serialization approach for an application usually the following factors are the most important:

1. Interoperability
Who is supposed to decode what you encode? Just your own application/system or other systems that are potentially outside of your control?
Same on the reading side: Are you only decodin

[2022-06-24 15:39] sirthias commented on #480
Another update. The Scala 3 macros are finally done.
Everything is implemented and all tests are passing.
It took a while longer, as always, also due to more compiler bugs that I had to work around.

Now the only thing missing is packaging and releasing, which I hope I'll be able to complete on Monday.

[2022-07-08 13:25] #572 closed

[2022-07-08 16:01] #567 closed

[2022-07-08 16:01] #568 closed

[2022-07-08 16:06] sirthias commented on #480
Got held back by real world priorities but did not forget this ticket... :)
I just pushed a couple more commits separating the scala2 build into its own branch.
From now on the master will be scala 3 only.

Now aiming for Tuesday as release day for the the scala 3 artifacts.
I'm sorry for the constant delays but I guess you know how it is...

[2022-07-08 19:41] phdoerfler commented on #572
First of all, thanks a lot for your detailed reply!
About your questions:
1. Only my own application
2. Data does not need to survive multiple years, it's okay if the format changes from one day to another.
3. Definitely not a priority here
4. Very important! That's why I went for JSON

I do agree with all the points you bring up. This is really just a toy library for fun and maybe to help develop

[2022-07-09 04:29] mushtaq commented on #480
Hey @sirthias I so much appreciate you regularly updating the progress on this ticket!

Even though my current work does not involve migrating to Scala3, I am keenly reading these and feel really excited 🎉

Thank you so much for all your work.

[2022-07-14 14:36] sirthias commented on #480
And it's finally done!
I just published borer 1.10.0 to sonatype. Should appear on Maven Central shortly.
1.10.0 is Scala-3-only. The latest version for Scala 2.13 is 1.8.0.
Thank you for sticking with me this long.
This migration really was quite some work and I'm glad to finally get it out the door.
I've refrained from changing to API too much from the previous version to make the upgrade easier

[2022-07-14 14:36] #480 closed

[2022-07-14 14:38] #495 closed

[2022-07-27 11:42] DamianReeves opened #580 "Java 11 really needed?"
I'm curious whether borer really needs to be built against Java 11, is the library actually making use of Java 11 features? Java 8 support would open things up to a larger set of users (particularly in the enterprise).

[2022-07-27 11:48] sirthias commented on #580
Well, yes, its probably possible to have artifacts be built for Java 8.
The reason I excluded it is simply that there is no proper (i.e. fast) Java 8 JRE anymore for my current development platform (Apple Silicon). But we could certainly add a `-target 8` switch somewhere and give it a try.
I'd be happy to merge any PR...

[2022-07-27 11:50] DamianReeves commented on #580
Sounds good.

[2022-07-27 11:53] DamianReeves commented on #580
I don't see GitHub actions setup to build/deploy the project? What is the CI/CD process being used?

[2022-07-27 11:55] sirthias commented on #580
Very simple.
I build and publish from my machine... :)

[2022-07-27 13:08] DamianReeves commented on #580
Changed the JVM version and created a PR ran all tests on my machine on JVM 8.

If you are interested I can probably see about setting-up a GitHub Actions workflow (in another PR) so that you can test all PRs against both JVM 8 and 11, let me know.

[2022-07-27 13:15] sirthias commented on #580
Yes, thank you, that'd be great!
So far I couldn't be bothered w/ the setup because it was just me who added code but the GA setup has been on my list as well (although somewhere quite far back...)

[2022-07-27 13:15] #580 closed

[2022-08-29 13:38] plokhotnyuk opened #584 "DoS vulnerability of borer-compat-circe"
_Sub-quadratic_ decreasing of throughput when number of JSON object fields (with keys that have the same hash code) is increasing

On contemporary CPUs parsing of such JSON object (with a sequence of 100000 fields like below that is ~1.6Mb) can took ~60 seconds:

[code]

Below are results of the benchmark where `size` is a number of such fields:

[code]

To run that benchmarks on your JDK:
1. [Ins

[2022-08-31 09:51] OndrejSpanel opened #585 "Exception when compiling with Scala 3"
I have a quite large closed source project which I am gradually migrating to Scala 3. I get exception when compiling with Scala 3 with some of my decoders. The exception is:

[code]

I might be able to create a short repro later, but I am not sure if / when, as Scala 3 is not a priority task for me yet.

[2022-08-31 16:15] sirthias commented on #585
Ok, thank you for this report, @OndrejSpanel.
Can you show the `V3` type, so that we can maybe construct a failing test?

[2022-08-31 16:16] sirthias commented on #584
Thank you, @plokhotnyuk, for this detailed report!
I'll take a look at things ASAP...

[2022-08-31 17:23] OndrejSpanel commented on #585
Sure. Actually it is quite simple:

[code]

[2022-08-31 19:58] sirthias commented on #585
Ok, thank you.
I'll look at this ASAP.

[2022-09-01 14:52] OndrejSpanel commented on #585
This seems to be causing the issue. A small repro is:

[code]

See also https://scastie.scala-lang.org/SWN4jtpOQf6LxwTuAmZf9g

[code]

[2022-09-01 18:51] sirthias commented on #585
Ah, ok, thank you.
Constructs such as these often create problems, because of the extra references to the outer context object that case class (and the `V3` objects) carry.
I'll look into it...

[2022-09-06 07:49] OndrejSpanel commented on #585
While it would be probably good to have it fixed, knowing the cause (outer class reference) is enough for me to restructure the code so that it no longer shows the issue.

[2022-10-12 08:53] plokhotnyuk opened #591 "Warnings in generated codecs when `-Wnonunit-statement` option is used for Scala 2.13.x build"
[code]

[2022-11-10 09:07] mushtaq opened #600 "Extra input fields cause error while decoding to empty case classes and case objects of an ADT"
Problem occurs with both `Json` and `Cbor`, and also when `AdtEncodingStrategy.flat()` is enabled.
Borer version: 1.10.1

[code]

[code]

[2022-11-10 09:10] sirthias commented on #600
Ok, thank you, @mushtaq !
I'll look into it as soon as I get a chance...